// Imports
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/variables';
@import 'variables';

// About style
#about-mission-patch-container {
  max-width: 500px;
}

#about-bws-social-media,
#about-ncas-social-media {
  ul {
    display: inline-block;
    padding-left: 0;

    li {
      list-style-type: none;
      margin: 1em;

      i {
        margin-right: 1rem;
      }
    }

    @include media-breakpoint-down(sm) {
      span {
        display: none;
      }
    }
  }

  p {
    vertical-align: middle;
    display: inline-block;
  }
}