// Bootstrap mixins
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'variables';

// Base style

// Navigation
#navbar {
  transition: background-color 0.3s ease-in-out;
  height: $nav-height;
  padding-top: 0;
  padding-bottom: 0;

  @include media-breakpoint-up(lg) {
    &.navbar-splash:not(.navbar-splash-scrolled) {
      background: none;
      box-shadow: none;

      .navbar-brand {
        display: none;
      }
    }
  }

  .navbar-brand {
    margin: 0;
    padding: 0;

    img {
      height: 0.8 * $nav-height;
    }
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      &.show, &.collapsing {
        position: absolute;
        left: 0;
        top: $nav-height - 1;
        width: 100%;
        max-height: calc((var(--vh, 1vh) * 100) - #{$nav-height});
        overflow-y: scroll;
        z-index: 9999;
        padding-left: $navbar-padding-x;
        padding-right: $navbar-padding-x;
      }
    }

    .nav-item {
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  #navbar-block-links:not(:empty) {
    border-top: 5px solid $ncas-color-primary-white;
  }

  @include media-breakpoint-up(lg) {
    #navbar-links-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .navbar-nav {
        height: 40px;

        li {
          margin: 0;
          overflow-wrap: normal !important;
          word-wrap: normal !important;
          white-space: nowrap;
          hyphens: none !important;
        }

        li:first-of-type {
          margin-left: auto;
        }
      }

      #navbar-block-links-overflow-dropdown {
        li {
          margin: 0;
          padding: 0;
        }

        li:after {
          border: none !important;
        }
      }
    }
  }
}

// Main content
#content {
  margin-top: $nav-height;
  min-height: $content-min-height;

  // Set content display as flexbox in the column direction.
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    width: 75%;
    padding: 50px;
  }

  @include media-breakpoint-down(lg) {
    width: 95%;
    padding: 20px;
  }

  section {
    // Set flex-grow and flex-basis. This makes all sections expand to fill #content and be equal height.
    flex-grow: 1;
    flex-basis: 0;
  }
}

// Footer
footer {
  height: $footer-height;
  font-size: $footer-font-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}
