// Bootstrap mixins
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'variables';

// Base style

// Navigation
#navbar {
  background-color: $bws-background-cream;
  transition: background-color 0.3s ease-in-out;
  height: $nav-height;
  box-shadow: 0 3px 2px $ncas-color-accent-40-grey;

  @include media-breakpoint-up(lg) {
    &.navbar-splash:not(.navbar-splash-scrolled) {
      background: none;
      box-shadow: none;
    }
  }

  .navbar-brand {
    img {
      height: $navbar-brand-height;
    }
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      background-color: $ncas-color-primary-white;

      &.show, &.collapsing {
        position: absolute;
        left: 0;
        top: $nav-height - 1;
        width: 100%;
        max-height: calc((var(--vh, 1vh) * 100) - #{$nav-height});
        overflow-y: scroll;
        z-index: 9999;
        padding-left: $navbar-padding-x;
        padding-right: $navbar-padding-x;
        box-shadow: 0 3px 2px $ncas-color-accent-40-grey;
      }
    }

    #navbar-block-links:not(:empty){
      border-right: 0.5px solid $ncas-color-accent-60-grey;

      @include media-breakpoint-down(md) {
        border-right: none;
        border-bottom: 0.5px solid $ncas-color-accent-60-grey;
      }
    }

    .navbar-nav {
      $internal-padding: 10px;

      padding-left: $internal-padding;
      padding-right: $internal-padding;

      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }

    .nav-item {
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

// Main content
#content {
  margin-top: $nav-height;
  padding: 0;
  min-height: $content-min-height;

  // Set content display as flexbox in the column direction.
  display: flex;
  flex-direction: column;
  section {

    // Set flex-grow and flex-basis. This makes all sections expand to fill #content and be equal height.
    flex-grow: 1;
    flex-basis: 0;

    // Add padding
    padding: $section-vertical-padding $section-horizontal-padding;

    @include media-breakpoint-down(md) {
      padding-left: $section-horizontal-padding-md-scale * $section-horizontal-padding;
      padding-right: $section-horizontal-padding-md-scale * $section-horizontal-padding;
    }

    @include media-breakpoint-down(xs) {
      padding-left: $section-horizontal-padding-xs-scale * $section-horizontal-padding;
      padding-right: $section-horizontal-padding-xs-scale * $section-horizontal-padding;
    }

    &:nth-child(even) {
      background-color: $bws-background-blue;
    }
    &:nth-child(odd) {
      background-color: $bws-background-teal;
    }
  }
}

// Footer
footer {
  $border-size: 3px;

  height: $footer-height;
  color: $ncas-color-accent-40-grey;
  background-color: $secondary-background-color;
  border-top: $border-size solid $accent-color;
  text-align: center;
  font-size: $footer-font-size;

  p {
    margin: 0;
  }
}
