// Bootstrap mixins
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'variables';

// Base style

// Navigation
#navbar {
  transition: background-color 0.3s ease-in-out;
  height: $nav-height;
  padding-top: 0;
  padding-bottom: 0;

  @include media-breakpoint-up(lg) {
    &.navbar-splash:not(.navbar-splash-scrolled) {
      background: none;
      box-shadow: none;

      .navbar-brand {
        display: none;
      }
    }
  }

  .navbar-brand {
    margin: 0;
    padding: 0;

    img {
      height: 0.8 * $nav-height;
    }
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      &.show, &.collapsing {
        position: absolute;
        left: 0;
        top: $nav-height - 1;
        width: 100%;
        max-height: calc((var(--vh, 1vh) * 100) - #{$nav-height});
        overflow-y: scroll;
        z-index: 9999;
        padding-left: $navbar-padding-x;
        padding-right: $navbar-padding-x;
      }
    }

    #navbar-block-links:not(:empty){
      border-right: 0.5px solid $ncas-color-accent-60-grey;

      @include media-breakpoint-down(md) {
        border-right: none;
        border-bottom: 0.5px solid $ncas-color-accent-60-grey;
      }
    }

    .navbar-nav {
      $internal-padding: 10px;

      padding-left: $internal-padding;
      padding-right: $internal-padding;

      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }

    .nav-item {
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

// Main content
#content {
  margin-top: $nav-height;
  padding: 0;
  min-height: $content-min-height;

  // Set content display as flexbox in the column direction.
  display: flex;
  flex-direction: column;
  section {
    $section-padding: 50px;

    // Set flex-grow and flex-basis. This makes all sections expand to fill #content and be equal height.
    flex-grow: 1;
    flex-basis: 0;

    // Add padding
    padding: $section-padding;

    //@include media-breakpoint-up(xl) {
    //  $section-horizontal-padding: calc(((100vw - #{map-get($grid-breakpoints, 'xl')}) / 2) + #{$section-padding});
    //  padding-left: $section-horizontal-padding;
    //  padding-right: $section-horizontal-padding;
    //}
  }
}

// Footer
footer {
  height: $footer-height;
  text-align: center;
  font-size: $footer-font-size;

  p {
    margin: 0;
  }
}
