// Mixins
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/variables';
@import 'variables';

// Index style

#index-splash {
  $splash-vertical-padding: 5px;
  $splash-horizontal-padding: 10px;

  // Overriding margin and padding from base.scss
  // This makes the splash section expand to fill the entire screen, even though the base container appears below the
  // the nav bar and has some vertical and horizontal padding.
  margin: -($nav-height + $content-vertical-padding) (-$content-horizontal-padding) 0 !important;
  padding: ($nav-height + $splash-vertical-padding) $splash-horizontal-padding $splash-vertical-padding !important;

  @include media-breakpoint-down(md) {
    margin-left: -$content-horizontal-padding-md-scale * $content-horizontal-padding !important;
    margin-right: -$content-horizontal-padding-md-scale * $content-horizontal-padding !important;
  }

  @include media-breakpoint-down(xs) {
    margin-left: -$content-horizontal-padding-xs-scale * $content-horizontal-padding !important;
    margin-right: -$content-horizontal-padding-xs-scale * $content-horizontal-padding !important;
  }

  // Set minimum height to fill all the space but the footer.
  min-height: 100vh;

  // Set display as flexbox. Vertically and horizontally center items.
  display: flex;
  justify-content: center;
  align-items: center;

  // Background style
  // The inverted selection assumes that the browser can handle webp and tries to render it immediately.
  // If webp-support fails, the html element will be given the class .no-webp sometime after load.
  background-position: center;
  background-size: cover;
  background-color: #fffdf0;
  html:not(.no-webp) & {
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('/img/index-splash/index-splash.webp');
  }
  html.no-webp & {
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('/img/index-splash/index-splash.png');
  }

  #index-splash-info-box {
    padding: 20px;
    max-width: map-get($grid-breakpoints, 'lg') - 2 * $splash-horizontal-padding;
    border-radius: 30px;
    border: 5px solid rgba(183, 35, 35, 0.5);

    h1 {
      font-family: 'NASA', $font-family;
      text-shadow: 2px 1px $ncas-color-accent-40-grey;
    }

    legend {
      font-weight: bold;
      text-transform: uppercase;
    }

    .btn {
      color: rgba(183, 35, 35, 0.5);
      border-color: rgba(183, 35, 35, 0.5);
      border-radius: 10px;
    }
  }
}
