// Imports
@import 'base';
@import 'variables';
@import 'about';
@import 'index';
@import url($font-url);

// Global website style.

// Define NAS font
@font-face {
  font-family: 'NASA';
  src: url('/fonts/nasa.ttf');
}

// Body
body {
  font-family: $font-family;
  font-size: $primary-font-size;
  color: $primary-font-color;
  background-color: $primary-background-color;
}

// Icons and links containing icons
.icon-link {
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $secondary-font-color;
    text-decoration: none;
    display: inline-block;

    i {
      vertical-align: middle;
    }
  }

  &:hover {
    color: $accent-color;
  }
}

.icon-box {
  $internal-margin: 10px;

  margin-top: $internal-margin;
  margin-bottom: $internal-margin;

  .icon-link {
    margin-right: $internal-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}

.card {
  margin-bottom: 1em;
}

@include media-breakpoint-down(md) {
  .js-scroll-trigger:hover {
    background: none;
  }
}
