// Imports
@import 'base';
@import 'variables';
@import 'about';
@import 'index';
@import 'registration';
@import 'hotel';
@import 'member-code-of-conduct';
@import 'theme';
@import url($fallback-font-url);

// Global website style.

// Body
body {
  font-family: $fallback-font-family, sans-serif;
  font-size: $primary-font-size;
  color: $primary-font-color;
  background-color: $primary-background-color;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  button,
  .btn {
    overflow-wrap: normal !important;
    word-wrap: normal !important;
    hyphens: none !important;
  }
}

// Icons and links containing icons
.icon-link {
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    display: inline-block;

    i {
      vertical-align: middle;
    }
  }
}

.icon-box {
  $internal-margin: 10px;

  margin-top: $internal-margin;
  margin-bottom: $internal-margin;

  .icon-link {
    margin-right: $internal-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}

.card,
.card-deck {
  margin-bottom: 1rem;
  background: none;
}

li {
  margin-bottom: 1em;
}

table {
  color: unset !important;  // Override bootstrap default table color.
}

blockquote {
  padding-left: 30px;
  border-left: 5px solid $ncas-color-primary-white;
}

ol.reference-list {
  padding: 0;
  counter-reset: list;

  li {
    list-style: none;
  }

  li::before {
    content: "[" counter(list) "] ";
    counter-increment: list;
  }
}

:target {
  scroll-margin-top: $nav-height;
}
