// Imports
@import 'node_modules/bootstrap/scss/mixins';
@import 'variables';

// Style related to the convention theme

// Define additional font
@font-face {
  font-family: 'NASA';
  src: url('/fonts/nasalization-rg.ttf');
}

//@font-face {
//  font-family: 'axaxax';
//  src: url('/fonts/axaxax-bd.ttf');
//}

// Overrides for bootstrap elements
//.btn {
//  color: $bws-text-white !important;
//  background-color: $bws-supplementary-red;
//  border-color: $bws-text-white;
//  border-radius: 10px;
//  border-width: 4px;
//
//  &:hover {
//    background-color: $bws-supplementary-navy-blue;
//    border-color: $bws-supplementary-yellow;
//  }
//}
//.card,
//.btn-outline-primary {
//  border-width: 5px;
//  border-style: solid;
//}
//.card {
//  padding: 10px;
//}
//.table{
//  th {
//    border-top: none;
//  }
//}

.dropdown-menu {
  border: 5px solid $bws-supplementary-navy-blue;
  .dropdown-item {
    &:hover {
      background: $bws-supplementary-blue;
      color: $bws-text-white !important;
    }
  }
}

// Global

body {
  html:not(.no-webp) & {
    background-image: url('/img/background.webp');
  }
  html.no-webp & {
    background-image: url('/img/background.jpg');
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  h1 {
    font-size: $primary-font-size * 2;
  }
  h2 {
    font-size: $primary-font-size * 1.75;
  }
  h3 {
    font-size: $primary-font-size * 1.5;
  }
  h4 {
    font-size: $primary-font-size * 1.25;
  }
  h5 {
    font-size: $primary-font-size * 1.125;
  }
  h6 {
    font-size: $primary-font-size;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .nav-link {
    font-family: 'NASA', $fallback-font-family, sans-serif !important;
    color: $bws-supplementary-yellow;
  }
  .active-link {
    color: $bws-supplementary-yellow !important;
  }

  a {
    color: $bws-supplementary-cyan;

    &:hover {
      color: $bws-supplementary-blue;
    }
  }
}

//.icon-link {
//  &,
//  &:link,
//  &:visited,
//  &:hover,
//  &:focus,
//  &:active {
//    color: $bws-text-white;
//  }
//  &:hover {
//    color: $bws-supplementary-cyan;
//  }
//}

// Base
#navbar {
  background-color: $bws-background-teal;

  @include media-breakpoint-up(lg) {
    &.navbar-splash:not(.navbar-splash-scrolled) {
      a {
        color: $bws-text-white;
      }
      #navbar-block-links:not(:empty){
        border-color: $ncas-color-primary-white;
      }
    }
  }
  .navbar-toggler {
    border-color: $bws-text-black;

    i {
      color: $bws-text-black;
    }
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      background-color: $bws-background-teal;
    }
  }
  .nav-item {
    position: relative;
    &:not(:first-of-type) {
      padding-left: 20px;
    }
    &:not(:last-of-type) {
      padding-right: 20px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 25%;
        left: 0;
        height: 50%;
        width: 100%;
        z-index: -1;
        border-right: 3px solid white !important;
      }
    }
  }
  .nav-link {
    color: $bws-text-white;
    font-family: 'NASA', $fallback-font-family, sans-serif;
  }
  .dropdown-menu {
    background-color: $bws-background-teal;
  }
  .navbar-collapse {
    #navbar-block-links:not(:empty){
      border-right: 5px solid $ncas-color-primary-white;

      @include media-breakpoint-down(md) {
        border-right: none;
        border-bottom: 3px solid $ncas-color-primary-black;
      }
    }
  }
}

#content {
  $content-width: 75%;
  $content-background-alpha: .7;

  width: $content-width;
  background-color: rgba(0, 0, 0, $content-background-alpha);
  border-color: rgba(255, 255, 255, 0.15);
  border-style: solid;
  border-width: 0 2px 2px 2px;
}

//// Index page
//#index-splash {
//  &:before {
//    background-color: $bws-space-grey;
//  }
//
//  #index-splash-info-box {
//    border: 5px solid $bws-supplementary-red;
//    color: $bws-text-white;
//
//    h1 {
//      font-family: 'NASA', $fallback-font-family, sans-serif;
//      //text-shadow: 2px 1px $ncas-color-accent-40-grey;
//    }
//  }
//}
//
//#index-convention-details {
//  picture {
//    display: block;
//    margin-left: auto;
//    margin-right: auto;
//    max-width: 760px;
//  }
//}
