// Imports
@import 'node_modules/bootstrap/scss/variables';

// Site variables

// NCAS primary colors
$ncas-color-primary-blue: rgba(34, 100, 169, 1);
$ncas-color-primary-black: rgba(0, 0, 0, 1);
$ncas-color-primary-white: rgba(255, 255, 255, 1);

// NCAS accent greys
$ncas-color-accent-40-grey: rgba(103, 103, 103, 1);
$ncas-color-accent-60-grey: rgba(153, 153, 153, 1);
$ncas-color-accent-90-grey: rgba(230, 230, 230, 1);

// NCAS secondary colors
$ncas-color-secondary-smoky-mountains-purple: rgba(100, 86, 170, 1);
$ncas-color-secondary-piedmont-teal: rgba(57, 170, 190, 1);
$ncas-color-secondary-coastal-blue: rgba(59, 173, 221, 1);
$ncas-color-secondary-tiger-orange: rgba(252, 142, 47, 1);
$ncas-color-secondary-cheetah-gold: rgba(245, 202, 52, 1);
$ncas-color-secondary-sparkle-dog-fuschia: rgba(165, 35, 157, 1);

// NCAS tertiary colors
$ncas-color-tertiary-purple: rgba(175, 151, 245, 1);
$ncas-color-tertiary-blue: rgba(92, 113, 203, 1);
$ncas-color-tertiary-cyan: rgba(145, 214, 230, 1);
$ncas-color-tertiary-gold: rgba(250, 212, 126, 1);
$ncas-color-tertiary-green: rgba(179, 240, 153, 1);
$ncas-color-tertiary-salmon: rgba(234, 84, 106, 1);

// Bewhiskered text colors
$bws-text-orange: rgba(239, 190, 66, 1);
$bws-text-red: rgba(195, 18, 38, 1);
$bws-text-white: rgba(255, 255, 255, 1);
$bws-text-black: rgba(0, 0, 0, 1);

// Bewhiskered background colors
$bws-background-blue: rgba(73, 91, 178, 1);
$bws-background-teal: rgba(30, 110, 108, 1);
$bws-background-cream: rgba(239, 225, 196, 1);

// Bewhiskered supplementary colors
$bws-supplementary-bright-yellow: rgba(247, 245, 119, 1);
$bws-supplementary-cyan: rgba(137, 222, 239, 1);
$bws-supplementary-blue: rgba(5, 123, 203, 1);
$bws-supplementary-brown: rgba(137, 61, 23, 1);
$bws-supplementary-purple: rgba(83, 54, 75, 1);
$bws-supplementary-burgundy: rgba(144, 55, 74, 1);
$bws-supplementary-orange: rgba(236, 103, 33, 1);
$bws-supplementary-yellow: rgba(247, 234, 131, 1);
$bws-supplementary-green: rgba(142, 182, 71, 1);
$bws-supplementary-navy-blue: rgba(18, 41, 88, 1);
$bws-supplementary-red: rgba(148, 36, 47, 1);
$bws-supplementary-dark-green: rgba(103, 113, 65, 1);

// Other colors
$transparent: rgba(0, 0, 0, 0);

// Background color
$primary-background-color: $ncas-color-primary-white;
$secondary-background-color: $ncas-color-accent-90-grey;

// Accent color
$accent-color: $ncas-color-secondary-piedmont-teal;

// Fonts
$primary-font-color: #222;
$secondary-font-color: #444;
$primary-font-size: 1rem;
$footer-font-size: 0.75rem;
$fallback-font-url: 'https://fonts.googleapis.com/css?family=Montserrat&display=swap';
$fallback-font-family: 'Montserrat';

// Vertical dimensions
$nav-height: 56px;
$footer-height: 70px;
$content-min-height: calc(100vh - (#{$nav-height} + #{$footer-height}));
