extends base


block navbar-page-links
    //li(class='nav-item')
    //    a(class='nav-link js-scroll-trigger' href='#')


block content

    section(id='about-bewhiskered' title='About Bewhiskered')

        h3 Bewhiskered



    section(id='about-ncas' title='About NCAS')

        h3 The North Carolina Anthropomorphic Society
