extends base


block variables
    - var title = 'Hotel'


block navbar-page-links

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#hotel-marriott-rtp') Hotel
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#hotel-directions') Directions

block content

    section(id='hotel-marriott-rtp')

        h1 Marriott at Research Triangle Park

        picture
            source(srcset='/img/hotel/marriott-lobby.webp' type='image/webp')
            source(srcset='/img/hotel/marriott-lobby.jpg' type='image/jpeg')
            img(class='img-fluid mt-3 mb-3' src='/img/hotel/marriott-lobby.webp' alt='Marriott at RTP')

        p
            | Bewhiskered 2020 will be hosted in the Marriott at Research Triangle Park, just a few minutes drive away
            | from the state’s capital and RDU airport. The hotel has a lot to offer, including modern guest rooms,
            | a spacious lobby and adjacent courtyard, and an on-site restaurant and market for those who don't want to
            | miss a minute of the action. Multiple food options are within easy driving distance for parties that want
            | to get out and explore.

        div(id='hotel-room-block' class='row row-cols-1 row-cols-md-2')
            div(class='col')
                table(class='table')
                    tr
                        th Room Type
                        th Price
                    tr
                        th Double
                        td $89/night
                    tr
                        th King
                        td $89/night
            div(id='hotel-hotel-links' class='col')
                a(id='hotel-room-block-button' class='btn bnt-lg btn-outline-primary w-100' href='') Room Block
                a(href='https://goo.gl/maps/FXU21AZKcNvbpCLt9') 4700 Guardian Dr, Durham, NC 27703

    section(id='hotel-directions')

        h1 Directions

        p
            | Marriott at Research Triangle Park is located in Durham, NC just off of I-40. Take exit 281 onto Miami
            | Blvd, then take the next right onto Guardian Dr. Parking in the hotel lot is complimentary for all
            | Bewhiskered guests.
        p
            | A complimentary airport shuttle is provided by the hotel on the following schedule.

        div(id='hotel-shuttle-schedule' class='row row-cols-1 row-cols-md-2')
            div(class='col')
                table(class='table')
                    tr
                        th Day
                        th Time
                    tr
                        th Mon - Fri
                        td 5:00 AM - 11:00 PM
                    tr
                        th Sat - Sun
                        td 8:00 AM - 11:00 PM
            div(id='hotel-shuttle-schedule-additional' class='col')
                p
                    | For additional travel information, please refer to the hotel
                    | #[a(href='https://www.marriott.com/hotels/maps/travel/rducp-marriott-at-research-triangle-park/') website].