extends base


block append variables
    - var hasSplash = true


block navbar-page-links
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#index-convention-details') Convention Details


block content

    div(id='index-splash' title='Index Page Splash' class='')
        fieldset(id='index-splash-info-box')
            legend(class='w-auto') NCAS Presents
            picture(id='index-splash-rocket')
                source(srcset='/img/index-splash/rocket.png')
                img(src='/img/index-splash/rocket.png' alt='Rocket Launch')
            div(class='')
                div(class='row')
                    div(class='col text-center')
                        h1 Bewhiskered
                        h1 Prepare for Blast Off!
                div(class='row')
                    div(class='col text-center')
                        p Whisky and Cassie invite you to join them on their journey.
                div(class='row')
                    div(class='col text-center')
                        p Oct. 02-04
                    div(class='col text-center')
                        p Durham, NC
                div(class='row mb-2')
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100 h-100' href='/registration.html') Registration
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100 h-100' href='/travel.html') Travel
                div(class='row')
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100 h-100 js-scroll-trigger' href='#index-convention-details') Convention Details

    section(id='index-convention-details' title='Convetion Details')

        h1 NC Anthro Society Presents #[br] Bewhiskered: Prepare for Blast Off!
        p
            | Space, the final frontier.
        p
            | Furs have gazed in wonder at the stars for as long as we can remember, ever since the very first of us
            | thought to look up at the night sky and saw the stars twinkling back at them. For generations we have
            | dreamed of setting sail on this new sea. The time has come to make that dream a reality. This October
            | 02-04, join Commander Cassie and Flight Engineer Whisky as they prepare for the launch of a lifetime!
        p
            | The #[a(href='https://ncanthrosociety.com') NC Anthro Society (NCAS)] is proud to bring you Bewhiskered
            | 2020, a convention hosted by the furs of North Carolina for furs of all parts of the world. Located in
            | the lovely Marriott at Research Triangle Park, Bewhiskered is in the heart of The Triangle and is just a
            | few minutes drive away from the state’s capital and RDU airport.
        p
            | Our inaugural theme is “Blast Off” both for the convention’s official debut, and in honor of the 50th
            | anniversary of Apollo 13. Join us as we hearken back to the retro futurism of the Apollo era and celebrate
            | the start of an epic journey in the only way we know how: a three day weekend full of friends,
            | entertainment, and much much more.

