extends base


block append variables
    - var hasSplash = true


block content

    section(id='index-splash' title='Index Page Splash' class='')
        fieldset(id='index-splash-info-box')
            legend(class='w-auto') NCAS Presents
            div(class='')
                div(class='row')
                    div(class='col text-center')
                        h1 Bewhiskered
                        h1 Prepare for Blast Off!
                div(class='row')
                    div(class='col text-center')
                        p Whisky and Cassie invite you to join them on their journey.
                div(class='row')
                    div(class='col text-center')
                        p Oct. 02-04
                    div(class='col text-center')
                        p Durham, NC
                div(class='row mb-2')
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100' href='') Register Now
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100' href='') Room Block
                div(class='row')
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100' href='') Full Details

    section(id='index-details')

        h1 Full Details
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.