extends base


block append variables
    - var hasSplash = true


block navbar-page-links
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#index-convention-details') Convention Details


block content

    section(id='index-splash' title='Index Page Splash' class='')
        fieldset(id='index-splash-info-box')
            legend(class='w-auto') NCAS Presents
            picture(id='index-splash-rocket')
                source(srcset='/img/index-splash/rocket.png')
                img(src='/img/index-splash/rocket.png' alt='Rocket Launch')
            div(class='')
                div(class='row')
                    div(class='col text-center')
                        h1 Bewhiskered
                        h1 Prepare for Blast Off!
                div(class='row')
                    div(class='col text-center')
                        p Whisky and Cassie invite you to join them on their journey.
                div(class='row')
                    div(class='col text-center')
                        p Oct. 02-04
                    div(class='col text-center')
                        p Durham, NC
                div(class='row mb-2')
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100 h-100' href='') Register Now
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100 h-100' href='') Room Block
                div(class='row')
                    div(class='col text-center')
                        a(class='btn btn-lg btn-outline-primary w-100 h-100 js-scroll-trigger' href='#index-convention-details') Convention Details

    section(id='index-convention-details' title='Convetion Details')

        h1 NC Anthro Society Presents: #[br] Bewhiskered
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.