extends base


block variables
    - var title = 'Registration'


block navbar-page-links

    //- li(class='nav-item')
    //-     a(class='nav-link js-scroll-trigger' href='#registration-attending') Attending
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#registration-opening-soon') Opening Soon
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#registration-minors-and-children') Minors
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#registration-dealers') Dealers
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#registration-artists') Artists
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#registration-faq') FAQ


block content

    section(id='registration-opening-soon')

        h1 Registration Opening Soon
        p.
            Bewhiskered member registration is not yet open. Please check back here regularly for more information, or
            follow our social media channels, which you can find at #[a(href='/about/bewhiskered') here].
        div(class='row')
            a(class='col text-center alert alert-danger' href='/about/covid-19')
                | #[i(class='fas fa-exclamation-triangle')] See important information regarding COVID-19. #[i(class='fas fa-exclamation-triangle')]

    //- section(id='registration-attending')

    //-     div(class='card')
    //-         div(class='card-body')
    //-             a(id='registration-link' class='btn btn-lg btn-outline-primary w-100' href='https://ncanthrosociety.regfox.com/bewhiskered2020' target='_blank') Register Now
    //-     div(class='card-deck')
    //-         div(class='card')
    //-             div(class='card-body')
    //-                 h1 Flight Crew (General)
    //-                 p
    //-                     | General membership gives you access to convention functions for the duration of the event.
    //-             table(class='table')
    //-                 tr
    //-                     th Type
    //-                     th Price
    //-                     th Available
    //-                 tr
    //-                     td Early-bird
    //-                     td $55
    //-                     td Until 11:59 pm on July 3, 2020.
    //-                 tr
    //-                     td Pre-reg
    //-                     td $60
    //-                     td Until 11:59 pm on Sept. 17, 2020.
    //-                 tr
    //-                     td On-site
    //-                     td $65
    //-                     td Oct. 02-04, 2020.
    //-         div(class='card')
    //-             div(class='card-body')
    //-                 h1 Officers (Sponsor)
    //-                 p
    //-                     | Sponsors are generous members who help make the convention a success. In addition to all the
    //-                     | perks of general membership, sponsors receive:
    //-                 ul
    //-                     li Bewhiskered t-shirt.
    //-                     li A unique sponsor gift.
    //-                     li Access to the officer (sponsor) lounge.
    //-                     li Early access to event spaces.
    //-             table(class='table')
    //-                 tr
    //-                     th Type
    //-                     th Price
    //-                     th Available
    //-                 tr
    //-                     td Early-bird
    //-                     td $90
    //-                     td Until 11:59 pm on July 3, 2020.
    //-                 tr
    //-                     td Pre-reg
    //-                     td $95
    //-                     td Until 11:59 pm on Sept. 17, 2020.
    //-                 tr
    //-                     td On-site
    //-                     td $100
    //-                     td Oct. 02-04, 2020.
    //-     div(class='card')
    //-         div(class='card-body')
    //-             h1 Bridge Crew (Super Sponsor)
    //-             p
    //-                 | Super sponsors are super generous members who go the extra mile to make the convention a success.
    //-                 | In addition to all perks of sponsor membership, super sponsors receive:
    //-             ul
    //-                 li An exclusive super sponsor gift.
    //-                 li Super sponsor social.
    //-                 li An additional surprise...
    //-         table(class='table')
    //-             tr
    //-                 th Type
    //-                 th Price
    //-                 th Available
    //-             tr
    //-                 td Early-bird
    //-                 td $195
    //-                 td Until 11:59 pm on July 3, 2020.
    //-             tr
    //-                 td Pre-reg
    //-                 td $200
    //-                 td Until 11:59 pm on Sept. 17, 2020.
    //-             tr
    //-                 td(colspan='3' class='text-center') #[span(class='font-weight-bold font-italic text-uppercase') Not available for on-site registration].
    //-     div(class='card')
    //-         div(class='card-body')
    //-             h1 Founder Add-on
    //-             p
    //-                 | The founder add-on can be purchased by members at any membership level. Founders are amazing
    //-                 | people who choose to directly help the convention succeed. As a token of our appreciation, all
    //-                 | founders will receive:
    //-             ul
    //-                 li Founder ribbon.
    //-                 li Founder t-shirt.
    //-                 li Founder challenge coin.
    //-         table(class='table')
    //-             tr
    //-                 th Type
    //-                 th Price
    //-                 th Available
    //-             tr
    //-                 td Pre-reg
    //-                 td $100
    //-                 td Until 11:59 pm on Sept. 17, 2020.
    //-             tr
    //-                 td On-site
    //-                 td $100
    //-                 td Oct. 02-04, 2020.
    //-             tr
    //-                 td(colspan='3' class='text-center font-weight-bold font-italic text-uppercase')
    //-                     | Available while supplies last.

    section(id='registration-minors-and-children')

        h1 Minors
        p
            | Minors aged 13-18 at the start of the event must purchase membership for admission. Membership is
            | available on-site, or via pre-registration for minors who are at least 13 years of age. There is no
            | discount on membership fees and dues for minors.
        p
            | A completed and notarized #[a(href='/files/parental-consent-form.pdf' target='_blank') Parental Consent Form]
            | must be filed with registration for minors to be given their badge or other admission device. Minors under
            | the age of 16 must be accompanied by a parent or guardian at all times. Membership is required of all
            | accompanying adults.

        h1 Children
        p
            | Children aged 0-12 at the start of the event are permitted only if accompanied by a parent or guardian.
            | Please #[span(class='font-weight-bold font-italic') DO NOT] pre-register children under the age of 13.
            | Membership is not required of children. Instead, if pre-registering, adults may indicate the number of
            | children they will be bringing. Membership is required of all accompanying adults.
        p
            | A completed and notarized #[a(href='/files/parental-consent-form.pdf' target='_blank') Parental Consent Form]
            | must be filed with registration for children to be given their admission device. Children must be
            | accompanied by a parent or guardian at all times.
        p
            | An optional convention badge may be purchased for children during on-site registration for $5.

    section(id='registration-dealers')
        h1 Dealers
        p
            | If you are planning on selling manufactured or wholesale goods, then the Dealer’s Den is for you! You
            | must fill out an application, available #[a(href='https://docs.google.com/forms/d/e/1FAIpQLSe2BFmve9J-5OHEvootLH1Ad0OUuIDsb5CkhheE66CD_W5YAQ/viewform') here].
            | Space in the Dealer’s Den is not guaranteed.
        p
            | Be sure to let us know if you will need power at your booth. Each approved vendor will receive the option
            | to purchase a total of 4 additional Dealer’s badges. The Dealer’s badge is priced and has the same access
            | as a general admission badge with the added benefit of letting you or your booth staff access the Dealer’s
            | Den area to help in setup and teardown.
        a(id='dealer-registration-link' class='btn btn-lg btn-outline-primary w-100' href='https://docs.google.com/forms/d/e/1FAIpQLSe2BFmve9J-5OHEvootLH1Ad0OUuIDsb5CkhheE66CD_W5YAQ/viewform' target='_blank') Dealer Application
        p
            | We have two options for booth sizes:
        ul
            li Regular Booth
            ul
                li $75.00
                li 1x Dealer’s badge included
                li 3’ X 18” (Shared Table)
            li Extended Booth
            ul
                li $150.00
                li 2x Dealer’s badge included
                li 6’ X 18”

    section(id='registration-artists')

        h1 Artists
        p
            | The Artist Alley is intended for artists (surprise) and those who are not selling manufactured or
            | wholesale goods. Each slot is 3’x18” (half a table) and the table itself (6’x18”) will be shared. Please
            | note that the tables will not have access to power.
        p
            | Slots in the Artist Alley will be free to attendees of Bewhiskered. Sign-ups will be available online,
            | and a link will be posted about a week before the event. A waitlist will also be available at the
            | beginning of each day of the convention for no-shows with slots being assigned on a
            | first-come-first-served basis. We want to be flexible for your scheduling needs. If you do not want or
            | need the slot for a full-day, you will have the option to reserve for only a half-day as well.

    section(id='registration-faq')

        h1 Frequently Asked Questions

        h4 Will I need my ID at registration?
        p
            | Yes. Please bring a valid, government-issued photo ID with you to registration. Your ID will be required
            | to receive your badge.

        //- h4 My plans have changed. Can I refund my membership?
        //- p
        //-     | Refunds are available on request until 11:59 pm on Sept. 03, 2020. Please email
        //-     | #[a(href='mailto:contact@bewhiskeredcon.org') contact@bewhiskeredcon.org] with your request.
