extends base


    // Main body
    #content.container-fluid(role='main')
      #index-container
        #index-presents
          p#index-bewhiskered-title Bewhiskered Photo Gallery
          #index-gallery-links
            p
              strong 2021:
              |  Our inaugural theme Was &ldquo;Blast Off&rdquo; both for the convention&rsquo;s official debut, and in honor of the 50th anniversary of The Apollo Program in 2021. Take a look as we gave thought to the retro futurism of the Apollo era.
            #index-gallery-button-portraits.col.text-center.mb-2
              a.btn.btn-lg.btn-outline-primary.w-100(href='/portrait/portrait.html') Portraits
            #index-gallery-button-eventcandid.col.text-center.mb-2
              a.btn.btn-lg.btn-outline-primary.w-100(href='/candid/candid.html') Event and Candid Photos
            #index-gallery-button-otherphotos.col.text-center.mb-2
              a.btn.btn-lg.btn-outline-primary.w-100(href='/other.html') Other Photos
            div(style='width:100%;height:450px;background-color:black;text-align:center;')
              a(href='https://lh3.googleusercontent.com/XVAg0Bg-7KGvEuykiM8w2XIWJZ0uK403hOvUAOy6PGQ6qlGFKFNPBXXgKXoMXHo46aoc8qz_YC6OyHFInk-w9U8hZbgLeHFtyS9nYqL_dgUH8I0UAuUqjtOWVTOFH9qwKk0XarsyOQ=w1920-h1080', target='_blank')
                img(src='https://lh3.googleusercontent.com/XVAg0Bg-7KGvEuykiM8w2XIWJZ0uK403hOvUAOy6PGQ6qlGFKFNPBXXgKXoMXHo46aoc8qz_YC6OyHFInk-w9U8hZbgLeHFtyS9nYqL_dgUH8I0UAuUqjtOWVTOFH9qwKk0XarsyOQ=h640', width='720"', style='height:800;border:0;', <='', a='')
            a(href='https://lh3.googleusercontent.com/XVAg0Bg-7KGvEuykiM8w2XIWJZ0uK403hOvUAOy6PGQ6qlGFKFNPBXXgKXoMXHo46aoc8qz_YC6OyHFInk-w9U8hZbgLeHFtyS9nYqL_dgUH8I0UAuUqjtOWVTOFH9qwKk0XarsyOQ=w1920-h1080', target='_blank')
              .row  
          #index-info
