extends /base


block variables
    - let title = 'Dealer Registration'


block navbar-page-links

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-table-of-contents') TOC
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-becoming-a-dealer') Becoming a Dealer
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-waitlist') Waitlist
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-application-faq') Application FAQ
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-table-and-amenities') Amenities
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-schedule') Schedule
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-rules') Rules
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-registration') Registration
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-tax-info') Tax Info
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-general-faq') General FAQ
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#dealers-errata') Errata


block content

    section(id='dealers-preamble')

        p.
            Welcome to the Bewhiskered 2021 Dealer Information Page. This page is the official reference point for all
            information relevant to Dealers at our convention and will be updated as needed. If you are a prospective
            or confirmed dealer at Bewhiskered 2021, please bookmark this page and refer to it regularly.

    section(id='dealers-table-of-contents')

        h1 Table of Contents

        ul
            li
                a(class='js-scroll-trigger' href='#dealers-becoming-a-dealer') Becoming a Dealer
            li
                a(class='js-scroll-trigger' href='#dealers-waitlist') Dealer Waitlist
            li
                a(class='js-scroll-trigger' href='#dealers-application-faq') Application FAQ
            li
                a(class='js-scroll-trigger' href='#dealers-table-and-amenities') Dealer Den Table and Amenities
            li
                a(class='js-scroll-trigger' href='#dealers-schedule') Dealer Den Schedule
            li
                a(class='js-scroll-trigger' href='#dealers-rules') Dealer Den Rules
            li
                a(class='js-scroll-trigger' href='#dealers-registration') Dealer Registration Information
            li
                a(class='js-scroll-trigger' href='#dealers-tax-info') Tax Information
            li
                a(class='js-scroll-trigger' href='#dealers-general-faq') General FAQ
            li
                a(class='js-scroll-trigger' href='#dealers-errata') Errata and Updates

    section(id='dealers-becoming-a-dealer')

        h1 Becoming a Dealer

        p.
            All sales and transactions of manufactured or wholesale goods at Bewhiskered 2021 must be done by an entity
            who has been designated as an Approved Dealer. In order to become an Approved Dealer and obtain a table
            (Full or Half) in our Dealer Den, you must have completed the following steps and selection process. Please
            read this section in full before applying!

        section(id='dealers-becoming-a-dealer-step-1')

            h2 Step 1: Apply

            ul
                li.
                    To begin the process of becoming an Approved Dealer, you must first complete and submit a Dealer
                    Application. All required information must be filled in completely and accurately. Optional
                    information is not required at this time, but may expedite our evaluation of your application and
                    may become required at a later date.
                li.
                    Only one application per dealer business/entity please!
                li.
                    If you plan to split a table with another dealer, both dealers must submit applications separately
                    and list who they plan to split with. Evaluation for shared tables will not begin till both
                    applications are submitted.
                li.
                    We may need to contact you in order to obtain additional information, so please make sure to check
                    your email you have provided as your contact regularly.
                ul
                    li.
                        #[b NOTE:] If your application is found to be lacking any critical information for us to make a
                        decision, we will reach out to the above email. If you do not provide the requested information
                        before July 9th, your application will be discarded and you will not be notified of approval or
                        denial.
                li.
                    The Dealer Application will be open until #[b 11:59 PM on July 2nd, 2021].
                li.
                    If you miss the Dealer Application, we will open a Dealer Waitlist Application after the above date.
                    Please see the #[a(class='js-scroll-trigger' href='#dealers-waitlist') Dealer Waitlist] section
                    below for additional information.
                li.
                    For more detailed information and answers to common questions on the application, please see the
                    #[a(class='js-scroll-trigger' href='#dealers-application-faq') Application FAQ] section below.

        section(id='dealers-becoming-a-dealer-step-2')

            h2 Step 2: Selection and the NCAS Vendor Contract

            ul
                li.
                    You will be notified by #[b July 9th] whether your application has been approved or not via the
                    Contact Email you have provided.
                ul
                    li.
                        If you are not selected for a Dealer Position at this point, your application will be placed on
                        the Dealer Waitlist unless you indicate otherwise. For why we are operating a Dealer Waitlist
                        and why you may want to be placed on it, see the
                        #[a(class='js-scroll-trigger' href='#dealers-waitlist') Dealer Waitlist] section below.
                li.
                    Upon being approved as a Dealer, you will receive an NCAS Vendor Contract.
                ul
                    li.
                        This contract must be filled out in full, signed, and sent back to our team no later than
                        #[b September 10th, 2021]. Failure to do so will release your Dealer Position to be filled from
                        the Dealer Waitlist.

        section(id='dealers-becoming-a-dealer-step-3')

            h2 Step 3: Registration

            ul
                li.
                    Once we have received and verified your completed NCAS Vendor Contract, we will send you a link and
                    instructions to our registration system which will allow you to register yourself, pay for your
                    table, and register any Dealer Assistants that you still need to obtain admission for.
                li.
                    We advise that at this point you also reserve your hotel room if you plan to do so.
                li.
                    Further information can be found in the
                    #[a(class='js-scroll-trigger' href='#dealers-registration') Dealer Registration Information]
                    section below.
            p.
                Once you have completed the steps above and received your registration confirmation, you are considered
                an Approved Dealer for the Bewhiskered 2021 convention as long as the terms and conditions of the NCAS
                Vendor Contract are met.
            p.
                If you are interested in being a dealer, please fill out the
                #[a(href='https://forms.gle/C3VVPQK4LN4oGqga8') Bewhiskered 2021 Dealer Application].
                If you have any questions while filling out the Dealer Application, please see the
                #[a(class='js-scroll-trigger' href='#dealers-application-faq') Application FAQ] section below.

            div(class='card')
                div(class='card-body')
                    a(class='btn btn-lg btn-outline-primary w-100' href='https://forms.gle/C3VVPQK4LN4oGqga8' target='_blank') BWS 2021 Dealer Application

    section(id='dealers-waitlist')

        h1 Dealer Waitlist

        p.
            Due to conditions with our venue, we have a potential opportunity for an expanded Dealer Den space.
            Unfortunately we do not yet have confirmation on this space at the current time and so have a very limited
            number of Dealer Positions available.
        p.
            Owing to the above and the potential of Approved Dealers becoming unable to appear at the event, we are
            instituting a Dealer Waitlist. This Dealer Waitlist will be automatic for dealers who are not selected from
            the initial Application, unless otherwise requested, and those that utilize the Dealer Waitlist Application
            after the main application has closed.
        p.
            In the event that additional dealer positions are added, or a current Approved Dealer resigns their
            position, Dealer Den staff will utilize the waitlist to select and approach new dealers. If selected you
            will be starting on Step 2 of the above process with an NCAS Vendor Contract. You will have one month from
            this notice, or until #[b October 8th] (whichever comes first), to complete, sign, and return the contract
            as well as provide your NCDOR Certificate of Registration number. You will then have until pre-registration
            closes on #[b October 21st] to complete your Dealer Registration and pay for your table.

    section(id='dealers-application-faq')

        h1 Application FAQ

        p What if I see a Google Sign In page when I first open the application Link?
        ul
            li.
                This is expected! We are using Google Forms with a file submission option. Due to this a valid Google
                account is required. If you do not have a Google account to use with this form, please contact us at
                #[a(href='mailto:dealer-relations@bewhiskeredcon.org') Dealer-Relations@BewhiskeredCon.org].
            li.
                #[b NOTE:] This email/account does not need to be associated with your business. A question on the form
                itself will ask for your “Contact Email” where you should supply the email which you will receive all
                notifications and communication regarding the application and your status as a potential Dealer.

        p What are the sizes of the Tables?
        ul
            li.
                Please see the #[a(class='js-scroll-trigger' href='#dealers-table-and-amenities') Dealer Den Table and Amenities] section.

        p What if I want to split a table?
        ul
            li.
                All dealers that want to split a table in our Dealer Den must arrange who they will split the table
                with before applying. We apologize for this inconvenience but we are unable to offer a table-matchmaking
                service this year.
            li.
                Please select the “Half Table (Two Dealers)” option. When you click next you will be asked for the
                business name or owner/representative legal name of the dealer you would like to share a table with.
            li.
                Please note, your application will not be evaluated until both your application and the one for the
                dealer you intend to share the table with are submitted. Your applications will be either approved or
                denied together.

        p Why do you need my full legal name?
        ul
            li.
                In order to allow you to deal at our convention, we will be utilizing a contract to clearly state all
                requirements of you as a dealer as well as what you can expect of us as the organization hosting your
                business. In order to make this contract legal and binding, we will need your legal name as well as the
                business entity name and permanent address.

        p Will the “Preferred Name” be my badge name?
        ul
            li.
                No. this is simply for what we will address you as in our communications with you regarding this
                application and regarding your status as a potential dealer. You will be able to specify your badge name
                during the Registration in Step 3 of the process in the
                #[a(class='js-scroll-trigger' href='#dealers-becoming-a-dealer') Becoming a Dealer] section.
            li.
                This same applies to the “Pronoun” question.

        p What do you mean by (registered) or “sole proprietorship” on the “Legal Business Name” question?
        ul
            li.
                In order to make sure our NCAS Vendor Contract is correctly set up, we need the name by which the state
                or federal government will recognize your business due to our record keeping requirements.
            li.
                When forming and registering a business entity with the government, you are required to provide a name
                by which that entity will be recognized. This is the name that we require for our records with this
                question.
            li.
                If you have not registered your business as an entity separate from yourself (called "unincorporated"),
                this is considered an unincorporated sole proprietorship and legally the business is formed under your
                legal name. This is why we ask for an unincorporated sole proprietorship to provide the legal name of
                its owner.
            li.
                For more information on different business structures and how they work we suggest the following sites:
            ul
                li
                    a(href='https://www.irs.gov/businesses') https://www.irs.gov/businesses
                li
                    a(href='https://www.sba.gov/business-guide/launch-your-business/choose-business-structure') https://www.sba.gov/business-guide/launch-your-business/choose-business-structure

        p What is a “Public Business Name” or “Doing Business As”?
        ul
            li.
                Related to the Legal Business Name above, a registered "DBA" or “Doing Business As” registration, also
                called an “assumed name,” is a name that your business may operate by or advertise as that differs from
                your legal business name.
            li.
                For our purposes, this field is used to specify what name you would want listed on our site, media
                posts, and convention literature to refer to your business.

        p Should I use my home address for the “Business Address” question set?
        ul
            li.
                Possibly, this depends on how you’ve formed your business. The “Business Address” in this case is
                whatever address you have used in registering your business with the state and federal government. It
                should be whatever address you use for legal and regulatory mail.
            li.
                If you are an unincorporated sole proprietorship, please use your primary mailing address.
            li.
                Please make sure to include any supplementary address details such as unit number that may be required
                to ensure mail reaches your business correctly.

        p What is an “NC DOR Certificate of Registration ID”? Why do you need it?
        ul
            li.
                An NCDOR Certificate of Registration is the document you must obtain in order to sell any taxable goods
                or services within North Carolina. This certificate is obtained by using the NC Department of Revenue
                online or mail system.
            li.
                The Registration ID is not required at the time of application, but will be required no later than
                #[b September 10th, 2021].
            li.
                #[b NOTE:] A Social Security Number (SSN) is NOT an NCDOR Certificate of Registration ID. #[b DO NOT]
                provide us your SSN.
            li.
                For more information on this and other Tax questions, please see the
                #[a(class='js-scroll-trigger' href='#dealers-tax-info') Tax Information] section.

        p What is the Public Listing?
        ul
            li.
                This is your description of your business that will be used to publicly list your business on our
                website, media posts, and convention literature.
            li.
                Due to limitations on these mediums we have limited the entry to a maximum of 280 characters and reserve
                the right to edit it as needed to best fit those needs.
            li.
                Imagine this was a single twitter post you’re allowed to make to advertise your business. Similar to
                that, carriage returns (or a new line) do count against this limit.

        p How does that differ from the “Detailed Product Offering”?
        ul
            li.
                The “Detailed Product Offering” is your typed description of what your business will be displaying and
                selling at our convention if approved. Please be as detailed as possible!
            li.
                Yes you can provide links to your products online, or photos of them here. Please note that if you have
                a full photo of your table, use the following questions to submit that.
            li.
                If you have any After Dark (AD), Adult, or “Adult Novelty” items you plan to sell, please include
                details on them here.
            li.
                #[b NOTE:] This question is marked as Required as we do need a written description of what your business
                is going to be offering for sale.

        p What is an “Example Table Display Link”? Do I need one?
        ul
            li.
                Use this section to link us to a photo of your table display that you’ve had at a previous/similar
                event, or an example! This will be used to help us understand how you set up your table and display
                your products to the attendees.
            li.
                This is optional, but will have a large impact on our team’s ability to evaluate your application as a
                dealer.
            li.
                If you don't have these photos hosted online, that's OK. See the next question in order to upload them
                directly to our form!

        p Do I have to upload files on the “Example Table Display Upload” question?
        ul
            li.
                No, as with the “Example Table Display Links” question above, this is an optional item. It is also an
                alternative option to submitting links on that above question.
            li.
                If you have photos to upload but have any difficulty with this upload feature, please email us at
                #[a(href='mailto:dealer-relations@bewhiskeredcon.org') Dealer-Relations@BewhiskeredCon.org].

        p What are Dealer Assistants?
        ul
            li.
                Dealer Assistants are any person whom you may need to make sure have access to the Dealer Den during the
                setup/startup and takedown/shutdown phases of the
                #[a(class='js-scroll-trigger' href='#dealers-schedule') Dealer Den Schedule].
            li.
                For more information on Dealer Assistants and how many each table type is allowed, please see the
                #[a(class='js-scroll-trigger' href='#dealers-registration') Dealer Registration Information] section.

        p Does a room come with my Dealer registration? (“Hotel Room Preference” question)
        ul
            li.
                No. This question is so that our Venue Relations staff can ask the hotel to set aside a room of this
                type in our hotel room block upon your application becoming approved. This will ensure that you should
                be able to reserve the selected room type once you have completed this Dealer Registration process and
                are sure you will be attending our convention as a dealer.
            li.
                Unfortunately we cannot actually guarantee a room of this type will be available for reservation, or
                that it will be granted upon check-in. This section is an effort to make your preferred accommodations
                more likely.
            li.
                In order to be sure you are able to reserve the room you prefer, we suggest actually booking it as soon
                as you are able once the room block has opened.
            li.
                For information on the convention hotel, please see the convention #[a(href='/hotel') Hotel] page.

        p Should I put my name as the “Hotel Room Reservation Contact”?
        ul
            li.
                This depends on if you will be the one booking your hotel room reservation. If there is another in your
                party that will be doing this, please provide their legal name here so that our Venue team and the hotel
                can match this application with your reservation.

        p Will I be guaranteed an Electrical connection if I check the box on the “Electrical Request” question?
        ul
            li.
                Unfortunately no, we cannot guarantee an electrical connection to your prospective dealer table.
            li.
                Our team will do our best to see to these requests, but not all tables will have access to electrical.
            li.
                An electrical connection in this case means one NEMA 5-15r receptacle providing ~115v AC. Each dealer
                with this connection is limited to a maximum of 1 amp draw in order to protect against any circuit
                failures.
            li.
                #[b NOTE:] An electrical connection may incur an additional fee determined by the venue and due before
                the event begins.
            li.
                For more details, please see the
                #[a(class='js-scroll-trigger' href='#dealers-table-and-amenities') Dealer Den Table and Amenities]
                section.

        p What else can I ask for in the “Other Requests” section?
        ul
            li.
                Anything! If you have a special need or a cool idea, please let us know!
            li.
                This section is particularly important if you have a specific need for your dealer space that will
                prevent you from being successful if not met. We’d rather be able to apologize early if we can’t meet
                your need this year than have it come up during setup! If we cannot meet your need this year, we’ll also
                be taking notes for improving our Dealer Den for next year.
            li.
                As stated on the question, we cannot guarantee any requests in this section.

        p So I’ve submitted my application, what now?
        ul
            li.
                Thank you for applying! We’ll reach out to you via the contact email you’ve provided with any additional
                questions or notices as needed.
            ul
                li.
                    #[b NOTE:] If your application is found to be lacking any critical information for us to make a
                    decision, we will reach out to the above email. If you do not provide the requested information
                    before July 9th, your application will be discarded and you will not be notified of approval or
                    denial.
            li.
                You will receive notification of your approval or denial on or before #[b July 9th].
            li.
                If your application has been denied, our communication will ask if you would like your application put
                on the Dealer Waitlist. For more information please see the
                #[a(class='js-scroll-trigger' href='#dealers-waitlist') Dealer Waitlist] section.

        p.
            Have more questions on the Dealer Application you don't see here? Please email us at
            #[a(href='mailto:dealer-relations@bewhiskeredcon.org') Dealer-Relations@BewhiskeredCon.org].

    section(id='dealers-table-and-amenities')

        h1 Dealer Den Table and Amenities

        p.
            The below are the two options for your Dealer Table. The Cost listed is the fee for the table itself and
            mention of the Dealer and Dealer Assistant registrations. For information on these registrations, please see
            the Dealer #[a(class='js-scroll-trigger' href='#dealers-registration') Registration Information] section
            below.
        ul
            li.
                Full Table
            ul
                li.
                    A single 6’x30” table with a spandex style covering underneath and lacquered steel top surface.
                    Table will come with 2 hotel provided chairs.
                li.
                    Cost: $100#[sup *] + 1 Dealer registration and up to 2 Dealer Assistant registrations.
            li.
                Half Table
            ul
                li.
                    A half table at 3’x30” shared with another dealer that must be specified in the application. Table
                    has a spandex style covering underneath and lacquered steel top surface. Half Table will come with
                    1 hotel provided chair.
                li.
                    Cost: $50#[sup *] + 1 Dealer registration and up to 1 Dealer Assistant registration.
        p.
            #[sup *] The Dealer Table Fee includes all applicable taxes and fees.
        picture
            source(srcset='/img/dealer-den/bws-2021-dealer-table.webp' type='image/webp')
            img(id='dealers-table-img' class='img-fluid mb-4' src='/img/dealer-den/bws-2021-dealer-table.jpg' alt='BWS 2021 Dealer Table')
        p.
            Each table features ~3’ to 4’ of back table space with egress points beside each table. Dealers are
            responsible for keeping the space behind and beside their table clear for emergency egress. Stock may not be
            stored or displayed in the egress areas between tables.
        p.
            Displays must remain within the bounds of the table and the space between the table and the wall. These
            displays must not exceed 7’ from the floor. Any structure over 4’ from the floor must be reasonably secured
            from falling over. What is "Reasonable" is at the discretion of the Dealer Den staff.
        p.
            Wifi will be provided via the hotel Wifi infrastructure. This will be provided regardless of if you have
            reserved a hotel room. We cannot guarantee uptime or throughput.
        p.
            Electrical connections may be available but are not guaranteed.
        ul
            li.
                Dealer Den staff will attempt to place dealers where electrical is available if requested in the
                application, but this service is not guaranteed.
            li.
                Dealers may not connect extension cables or power strips to these connections without the prior approval
                of Dealer Den staff.
            li.
                If available, a single NEMA 5-15r receptacle will be provided for the dealer’s use.
            li.
                If available, dealers are limited to 1amp draw per table to limit risk of power issues.
            li.
                Further an electrical connection may incur an additional fee determined by the venue and due before the
                event begins. (We will update here when this is determined.)

    section(id='dealers-schedule')

        h1 Dealer Den Schedule

        p.
            The Dealer Den schedule will be:
        ul
            li.
                Friday:
            ul
                li.
                    9:00 AM to 1:00 PM - Setup.
                li.
                    1:00 PM to 6:00 PM - Open.
                li.
                    6:00 PM to 7:00 PM - Shutdown.
            li.
                Saturday:
            ul
                li.
                    8:30 AM to 10:00 AM - Startup.
                li.
                    10:00 AM to 6:00 PM - Open.
                li.
                    6:00 PM to 7:00 PM - Shutdown.
            li.
                Sunday:
            ul
                li.
                    8:30 AM to 10:00 AM - Startup.
                li.
                    10:00 AM to 4:00 PM - Open.
                li.
                    4:00 PM to 6:00 PM - Takedown.
            p.
                #[b NOTE:] Access to the Dealer Den outside of the above hours will not be allowed. It is the
                responsibility of the Dealer and their assistants to remove any personal effects or items needed outside
                of these hours.

        section(id='dealers-schedule-setup')

            h2 Setup

            p.
                The “Setup” period of the dealer den schedule will be the period Friday morning when Dealers are allowed
                access to the Dealer Den space in order to bring in product and equipment to be set up at their tables.
                ONLY convention staff, Dealers, and Dealer Assistants will be allowed in the Dealer Den during this
                period.

        section(id='dealers-schedule-startup')

            h2 Startup

            p.
                The “Startup” period of the dealer den schedule will be the period before the dealer den opens on
                Saturday and Sunday where the Dealers and Dealer Assistants will be allowed access to uncover and
                prepare their dealer table for the day.

        section(id='dealers-schedule-open')

            h2 Open

            p.
                The “Open” period of the dealer den schedule will be the period each day when the dealer den is open to
                attendees to browse and make purchases. An announcement will be made 15 minutes before the dealer den
                closes for the evening each day. When the dealer den closes convention staff will guide attendees out
                of the space.

        section(id='dealers-schedule-shutdown')

            h2 Shutdown

            p.
                The “Shutdown” period of the dealer den schedule will be the period Friday and Saturday evenings when
                all attendees have been removed so that Dealers and Dealer Assistants are able to clean up, restock, and
                secure their tables for the night. At the end of this period, or when all Dealers and Dealer Assistants
                have exited, convention staff will lock the room for the evening.
            p.
                #[b NOTE:] Access to the Dealer Den after Shutdown and before Startup is expressly forbidden. Please
                make sure you have removed any necessary personal belongings, equipment, tools, supplies, or merchandise
                you may require before Startup the next day prior to leaving.

        section(id='dealers-schedule-takedown')

            h2 Takedown

            p.
                The “Takedown” period of the dealer den schedule will be the period Sunday evening when all attendees
                have been removed so that Dealers and Dealer Assistants can break down their displays and pack their
                equipment and merchandise. You are responsible for removing all equipment, merchandise, personal
                property, and trash by the time this period ends. Leaving trash behind will impact our evaluation of
                you as a vendor for future events.

    section(id='dealers-rules')

        h1 Dealer Den Rules

        p.
            Dealers are required to know and follow the rules below in order to maintain their status as an Approved
            Dealer for the Bewhiskered 2021 convention. It is the responsibility of the dealer to check this page
            regularly for updates and changes.

        section(id='dealers-rules-displays')

            h2 Displays, Merchandise, and Services

            ol
                li.
                    Items offered for sale in the Dealer Den should be related to the theme of the convention or should
                    have a broad appeal to furries and others in attendance at Bewhiskered.
                li.
                    Items that are illegal to possess or sell in the United States, State of North Carolina, or City of
                    Durham (Firearms or restricted weapons, pornography involving minors, etc.) are prohibited in the
                    Dealer Den. Items that require a specific permit or license to display or sell shall require the
                    Dealer to present the license and are subject to approval by Dealer Den staff.
                li.
                    Depiction of real or fictional minors in adult situations is prohibited.
                li.
                    Any item that is prohibited for direct sale is also not permitted for display, giveaway, or delivery
                    during or after the convention unless otherwise specified.
                li.
                    The responsibility to ensure proper copyright of merchandise rests with the Dealer. North Carolina
                    Anthropomorphic Society, Inc. recommends Dealers research and are aware of the legality of
                    copyrights, trademarks, works of parody, and fan art. Please be aware that you will be required to
                    indemnify NCAS against any legal actions taken regarding the illegal sale of licensed products or
                    works that you do not hold proper right to sell as part of the NCAS Vendor Contract.
                li.
                    The dealer that has been approved and has signed the NCAS Vendor Contract is the only dealer allowed
                    to sell items from the table assigned. Do not sell goods on behalf of another at your table unless
                    those goods were described in your Dealer Application and you are collecting and remitting sales tax
                    for these items under your own business for tax purposes.
                li.
                    Dealer tables are non-transferable. If you have someone else who wants your table if you are
                    vacating it at the convention, direct them to the Dealer Den staff.
                li.
                    Non-firearm weaponry such as swords are acceptable provided these weapons do not have a sharp edge
                    and that the purchases are fully wrapped afterward. As per Convention Security Policy, these items
                    may not be waved or otherwise brandished in public. Any items which resemble firearms but are
                    non-firing must also be fully wrapped and not brandished. It is strongly suggested that dealers
                    urge customers who purchase such items to carry them directly to their hotel rooms.
                ol
                    li.
                        #[b NOTE:] Attendees wishing to display their purchases despite the above urging must have the
                        items evaluated and peace bonded by convention security. Please advise them to keep the item
                        wrapped until they have been able to bring it to security for this process.
                li.
                    Merchandise and products (including commissioned works) of an adult or sexual nature, or containing
                    such content are regulated by the following rules within the Dealer Den.
                ol
                    li.
                        Such items whose primary purpose is functional rather than artistic (such as novelty items,
                        personal care items, and toys) are prohibited at this time. As we encourage public health and
                        safety for its attendees, an exception is made for sale or giveaway of condoms and similar
                        prophylactics.
                    li.
                        Artwork, clothing, or other items of an appropriate but adult nature may be sold only if they
                        are kept from public view. Such items must be covered or similarly shielded according to the
                        details below.
                    ol
                        li.
                            Artwork containing adult material should be shielded (by Post-It notes, stickers, or a
                            similar covering that is not easily or accidentally removed), and should be kept in a
                            clearly-marked binder which must be kept closed by the dealer when it is not being viewed
                            by an adult customer.
                        ol
                            li.
                                Binders or portfolios containing such artwork must be separate from other binders. A
                                tag or divider between "regular" and "adult" material is not sufficient. Any censoring
                                of artwork (pixelation, blurring, censorship bars) must be done to the satisfaction of
                                Dealers Room Staff.
                        li.
                            Items displaying content of an adult nature must be delivered to the customer in opaque
                            packaging that obscures the mature item completely, such as a bag, envelope, or folder. If
                            a customer has their own packaging that sufficiently obscures the items, they may place it
                            inside that instead.
                        ol
                            li.
                                If the event rules or the #[a(href='/code-of-conduct/member') Member Code of Conduct]
                                explicitly allow specific clothing, masks, or accessories to be worn by attendees in
                                event space, those items may be exempt from this rule. Dealer Den staff have ultimate
                                say in regards to this exception.
                    li.
                        Dealers are directly and fully responsible for ensuring that minors are not permitted to view,
                        handle, or be otherwise exposed to adult materials. Dealers who are found to be displaying
                        adult-oriented items in such a fashion that they can be viewed by underage members will be
                        afforded a single warning; further incidents may result in that dealer being removed from the
                        Dealers Room without refund and possible loss of Dealers Room privileges for future conventions.
                        Dealer Den staff have final say as to the suitability of wares for display or sale by dealers.
                    ol
                        li.
                            Please note: The convention will provide a badge to each attendee with marking denoting 18+
                            or Minor. A sample of this will be available upon request to Dealer Den staff. Despite this
                            measure, if you are in doubt, you can and should ask your client for identification before
                            allowing them to view your restricted items.
                        li.
                            In the event that an adult attendee is viewing adult nature items in your binder (as
                            mentioned above) and a minor approaches, we advise that you should request the adult
                            attendee to temporarily close the binder.
                    li.
                        Dealers should be aware that children, parents, venue employees, members of the press, and other
                        members of the public may be present in the Dealer Den during open hours. All signs, banners,
                        standing displays, etc. must, therefore, abide by a "PG" or better rating. Any display that may
                        be damaging to our community or NCAS’ public image is strictly forbidden.
                li.
                    Any artwork, merchandise, or paraphernalia, whether for sale or free, that would violate any terms
                    of our #[a(href='/code-of-conduct/member') Member Code of Conduct] if worn or displayed is strictly
                    prohibited.
                ol
                    li.
                        In specific any of the above that features hate speech, hate group iconography, or espouses
                        violence, discrimination, or similar objectionable content is strictly prohibited.
                    li.
                        Determining what qualifies as any of these restricted items is the sole discretion of Dealer Den
                        staff or convention leadership.
                li.
                    By contract with our venue, all food and drink sales must be provided by Marriott at RTP and their
                    catering department. Therefore Dealer sales of food or drink are strictly prohibited.
                li.
                    Five Senses Rule: Your table's displays, merchandise, and staff should not annoy customers or other
                    dealers with sight, sound, smell, taste, or touch. Specific concerns are bright flashing lights,
                    loudspeakers, and strong scents. Video soundtracks, CD previews, video games, and other audio need
                    to be kept at such a volume that they do not annoy customers or other dealers; headphones are
                    recommended if audio is a primary selling point of your business. The Dealer Den Staff have the
                    final authority on what does and what does not constitute an annoyance.
                li.
                    You are not required to be at your dealer table constantly during the open hours of the dealer den
                    schedule, however, Bewhiskered, our venue, and NCAS are not responsible for your items at the table
                    if left unattended.
                ol
                    li.
                        Note that leaving your table unattended or without merchandise for an extended period during the
                        Dealer Den open hours will be noted for future event vending application eligibility.
                    li.
                        Further, if your table is left unattended and completely empty for more than two hours without
                        prior approval by Dealer Den staff, we will reclaim the table without refund to you and provide
                        it to another dealer at our discretion for the remainder of the event.
                li.
                    No items may be produced or sold that bear the name “Bewhiskered,” the Bewhiskered logo, or any
                    other intellectual property that Bewhiskered or NCAS have created without due licensure from North
                    Carolina Anthropomorphic Society, Inc. (NCAS).
                ol
                    li.
                        Such a licensing agreement requires a licensing fee and pre-approval of the use of the
                        intellectual property on such items before they are produced. If you would like to obtain such
                        a license agreement, please contact us at
                        #[a(href='mailto:contact@ncanthrosociety.org') Contact@NCAnthroSociety.org] before designing or
                        producing such items.

        section(id='dealers-rules-table')

            h2 Dealer Table Equipment and Area

            ol
                li.
                    Damages to venue or convention equipment and property are the responsibility of the dealer assigned
                    to them or the area they occupy.
                li.
                    Do not move the table from its position that has been provided. Moving the table may present
                    hazards to emergency egress and is strictly prohibited.
                li.
                    Do not bring additional chairs into the dealer den or move chairs behind tables different from the
                    ones they are provided at.
                li.
                    There may not be more individuals behind a table than the number of chairs provided.
                li.
                    Egress spaces between tables must be kept clear of all obstructions.
                li.
                    Room for egress from all seats behind the table must be maintained without tripping hazards.
                li.
                    Structures, equipment, and inventory may not take up space beyond the bounds of the table and the
                    space between the table and wall.
                li.
                    Structures must not exceed 7’ in height from the floor. Any structure over 4’ from the floor must be
                    reasonably secured from falling over.
                li.
                    Do not use any method of attachment to the table that results in damage to it or its skirt.
                li.
                    No attachments or contact with the hotel walls or airwalls are allowed.
                li.
                    Do not leave trash or abandoned items at or around your table when vacating your space during
                    Takedown.

        section(id='dealers-rules-sales')

            h2 Sales and Tax

            ol
                li.
                    As per N. C. Gen. Stat. § 66-255, Vendors must obtain, share with the Dealer Den staff for records,
                    and prominently display their valid Certificate of Registration (obtained from the North Carolina
                    Department of Revenue) at their table.
                li.
                    The sale of manufactured or wholesale goods is restricted to Approved Dealers only on the convention
                    site, and must occur in the designated areas. Violation of this by any other member of the
                    convention will result in revocation of membership and possibly long term bans from future NCAS
                    events.
                li.
                    Sales, exchanges, and barter between dealers is welcomed. Taxes must still be collected and remitted
                    appropriately.
                li.
                    All sales must be accompanied by a receipt provided to the purchaser indicating the dealer business
                    name, items purchased, their prices and quantities, taxes collected, and total paid.
                li.
                    While all dealers must collect and remit sales tax, it is your choice whether to add this to the
                    sale total, or include it on the cost per item. If including on the item cost, you must clearly
                    display a statement that tax has been included in pricing. (NC Sales and Use Tax Bulletin,
                    January 1 2021: Section 2-1)
                li.
                    Dealers may accept payment in any manner they choose as long as sales tax is calculated and remitted
                    in US dollars. We recommend if you accept cash, that you bring plenty of change. Neither the
                    convention or the venue can make change for you.

        section(id='dealers-rules-admin')

            h2 Admin

            ol
                li.
                    In any dispute regarding these rules, the operations of the dealer den, a dealer’s status and
                    ability to sell at the convention, or related matters regarding dealers, Dealer Den staff and
                    convention leadership have final say.
                li.
                    You may appeal a decision to a higher staff member if you feel it is necessary. As fair warning, the
                    higher the position an appeal goes for decision the busier the staff member usually is. The staff
                    member may not have time to review your issue until well after its immediacy has passed.

        section(id='dealers-rules-disclaimers')

            h2 Disclaimers

            p.
                Bewhiskered, our venue, and North Carolina Anthropomorphic Society, Inc. are not responsible for the
                security of or damages to your equipment and merchandise. Please take all necessary care to protect
                against losses and damages as this is solely your responsibility.
            p.
                NOTE: NCAS and convention staff are unable to promise to safeguard your merchandise and belongings at
                your table. This is part of the purpose of having a Dealer Assistant, please make use of individuals
                you trust in this role for such purposes.

    section(id='dealers-registration')

        h1 Dealer Registration Information

        p.
            Dealers registration and table fees are separated, but can be purchased and arranged in the same step,
            along with adding Dealer Assistant registrations and upgrading any registration being made. Dealer and
            Dealer Assistant registrations are the same price, tier options, and early discount structure as regular
            registrations. They also follow the same cancellation and refund policies. (For details please refer to the
            Registration page.) In the event that the Dealer or Dealer Assistants have already registered via the
            regular #[a(href='/registration') Registration] page, we only need their legal names to attribute them as a
            Dealer or Dealer Assistant before pre-registration has closed.
        p.
            Dealers and Dealer Assistants are subject to the
            #[a(href='/code-of-conduct/member') NCAS Member Code of Conduct] as a requirement of holding this membership
            as well as the #[a(href='/code-of-conduct/vendor') NCAS Vendor Code of Conduct Addendum] as a term of the
            NCAS Vendor Contract. Violations of these Codes of Conduct will result in sanctions as defined in those
            documents/pages. The actions of a Dealer Assistant can and will result in sanctions against the Dealer they
            are associated with.
        p.
            In the event the convention sells out of normal admissions, we will guarantee you can still obtain
            registration for yourself and your Dealer Assistants on the condition that you maintain your status as an
            Approved Dealer according to the NCAS Vendor Contract.

        section(id='dealers-registration-badge-pickup')

            h2 Dealer and Dealer Assistant Badge Pickup and Loading/Unloading

            p.
                Dealer Den staff will set up a specific entrance for dealers during the “Setup” period on Friday (9AM
                to 1PM). The specific location for this entrance will be communicated to approved dealers and updated on
                the Dealer Information Page of our website at a later date.
            p.
                You and your Dealer Assistants may pick up your registration materials from this point between the hours
                of 9AM and Noon friday. After noon Friday, you must pick up your registration materials from the general
                registration pickup location. You will require a valid government photo ID, your registration
                confirmation, and any materials currently required by the convention COVID policy in order to pick up
                your registration. Each registered individual must pick up their own registration materials, we cannot
                pass out registration materials for you and your other Dealer Assistants to one member of your team.
            p.
                We will aim to provide as easy of an entrance point as possible to the Dealer Den during Setup and
                Takedown periods. We will provide specific information regarding this and its location at a later date.

        section(id='dealers-registration-assistant-info')

            h2 Dealer Assistant Allowances and Information

            p.
                The following are the maximum number of Dealer Assistants allowed per table type. Dealer Assistants are
                registered attendees in addition to the Dealer who is the primary contact for the table.
            ul
                li.
                    Full Table: 2 Dealer Assistants allowed.
                li.
                    Half Table: 1 Dealer Assistant allowed.
            p.
                Please note that Dealer Assistants are allowed for the purpose of helping with setup at the start of the
                convention, takedown at the end of the convention, and someone to swap with manning your dealer table.
                Each Full Table is allotted two chairs (and each Half Table one chair) making this the maximum occupancy
                behind the table at any time. Dealer Assistants may NOT bring in additional chairs, sit on the floor
                behind the table, or sit in the egress space between tables.

        section(id='dealers-registration-faq')

            h2 Dealer Registration FAQ

            p.
                What If I’ve already registered to attend Bewhiskered 2021 before my Dealer Application was approved?
            ul
                li.
                    No worries! We can attribute your "Dealer" status to the existing registration and there will be an
                    “I’ve already registered” option on the registration page we send to you that you should select.
                    This will allow you to complete the payment for the dealer table without registering for your
                    membership and admission again.

    section(id='dealers-tax-info')

        h1 Tax Information

        p.
            All dealers are required to abide by all relevant tax laws of North Carolina. This includes the requirement
            to collect and remit sales tax to the NC Department of Revenue on all taxable items sold at Bewhiskered
            2021.
        p.
            In order to facilitate the above requirement, all dealers are required to obtain and display a Certificate
            of Registration from the North Carolina Department of Revenue. (N.C. Gen. Stat. § 105-164.4(c)) This
            certificate is not usually difficult to obtain and can be acquired online or by mail from the NCDOR
            website. The link below is a good starting point:
            #[a(href='https://www.ncdor.gov/taxes-forms/sales-and-use-tax/sales-and-use-tax-registration') https://www.ncdor.gov/taxes-forms/sales-and-use-tax/sales-and-use-tax-registration].
        p.
            The above page has links to common questions as well as the two options for filing. The linked pages for
            each have instructions and frequently asked questions that can assist with your filing for a Certificate of
            Registration.
        p.
            If you have any difficulty with the filing, or questions not covered on the site, you may contact NCDOR
            Taxpayer Assistance at 1-877-308-9103, use Option 1, between the hours of 8am and 5pm ET Monday through
            Friday (excluding holidays).
        p.
            In addition to obtaining this certificate and displaying it at your place of business (your dealer table),
            you are also required to provide us with the Registration Number on the certificate for our records.
            (Obligations of the operator of a Speciality market: N. C. Gen. Stat. § 66-255) We require this no later
            than #[b September 10th] (the same due date of your NCAS Vendor Contract). Failure to provide your
            Certificate of Registration ID will result in your approval being revoked and your Dealer Position being
            released to be filled by the Dealer Waitlist.
        p.
            #[b NOTE:] NCAS Staff are not attorneys or advisors regarding tax liability. We cannot provide you
            instructions or answers as to how you should register your business or on the collection, reporting, and
            remitting of sales or use taxes. The information in this section is provided for convenience only and all
            questions regarding registration or tax liability should be directed to NCDOR or your preferred tax advisor.

        section(id='dealers-tax-info-faq')

            h2 Tax Information FAQ

            p What if I don't qualify for “nexus” in North Carolina?
            ul
                li.
                    According to our investigation on this topic and contact with NCDOR: A seller who is present
                    physically in the state while making sales is automatically considered having nexus within the state
                    for the purpose of tax liability.
                ul
                    li.
                        Please see the note regarding small seller exception on the page here:
                        #[a(href='https://www.ncdor.gov/taxes-forms/sales-and-use-tax/remote-sales') https://www.ncdor.gov/taxes-forms/sales-and-use-tax/remote-sales].

            p Why should I not provide my SSN for the Certificate of Registration number?
            ul
                li.
                    Your Social Security Number IS what you should use to identify your business when reporting income
                    taxes to the state and federal government, however this is different from your obligation to collect
                    and remit Sales and Use taxes.
                li.
                    NCDOR requires registration in their system in order to report and remit (send) them these taxes.
                    You will need to provide your SSN or your Federal EIN (Employer Identification Number) during the
                    process of this registration, but the number you will receive in conjunction with the certificate
                    from that process is what we require for our records.

    section(id='dealers-general-faq')

        h1 General FAQ

        p What if I was approved as a dealer for the cancelled Bewhiskered 2020?
        ul
            li.
                Due to changes with the pandemic and our Dealer Den policies, we are requiring all dealers from our
                cancelled 2020 event re-apply for dealer positions this year. Please check the email that you used in
                your application for the previous event for more information!

        p What if I am an Approved Dealer but I find out that I cannot attend?
        ul
            li.
                Please notify our team immediately by emailing us at
                #[a(href='mailto:dealer-relations@bewhiskeredcon.org') Dealer-Relations@BewhiskeredCon.org] so that we
                can assist you with your situation as soon as possible! If you do not receive a response within 48
                hours, please reach out to us by our various social media platforms with a request for our Dealer Den
                team to contact you (just in case your email was lost).
            li.
                Our refund schedule is matched to our regular Registration for your admission badges. Refund of your
                table fee is subject to the terms of your NCAS Vendor Contract.

        p What happens if Bewhiskered 2021 is Postponed or Cancelled?
        ul
            li.
                If the convention is postponed, we will shift the refund deadlines to match our new dates once
                announced. Due to the changed dates, we will give you the option of cancelling your Vendor Contract and
                receiving a refund for your table fee. Registrations may be cancelled via the standard registration
                refund policy.
            li.
                If the convention is cancelled, we will automatically refund your table fee and cancel the Vendor
                Contract. You will be given the option to obtain a refund for your registrations, or roll them over to
                next year. Rolled over registrations will no longer be Dealer or Dealer Assistant registrations unless
                you are approved for a dealership position during the next convention.

        p.
            Have more questions on the Dealer Information Page you don't see here? Please email us at
            #[a(href='mailto:dealer-relations@bewhiskeredcon.org') Dealer-Relations@BewhiskeredCon.org].

    section(id='dealers-errata')

        h1 Errata and Updates

        p.
            Changes and Updates will be logged here for convenience and clarity. However, we cannot guarantee all
            changes will be logged accurately. If you are an Approved Dealer, please make sure to check this page in
            its entirety regularly.

        table(class='table')
            tr
                th.
                    Date
                th.
                    Change
            tr
                td.
                    2021-07-01
                td.
                    The Dealer Application closing date was updated from #[code July 2nd, 2021] to
                    #[code 11:59 PM on July 2nd, 2021].
