extends /base


block variables
    - let title = 'Charity and Charity Auction'


block navbar-page-links

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#charity-about') Our Charity
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#charity-map') Map
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#charity-auction') The Charity Auction


block content

    section(id='charity-about')

        h1 SAFE Haven for Cats

        p.
            We are proud to announce that SAFE Haven for Cats will be our partnered charity for 2021! Founded in 1994,
            SAFE Haven is a registered 501(c)3 dedicated to saving cats' lives. To date they have helped adopt over
            12,100 cats and spayed/neutered over 36,000 animals in their low-cost clinic. They rely on donations to do
            their incredible work, and we are excited to help them continue their mission.

        picture
            img(class='mb-5 mx-auto mw-100 d-block' src='/img/charity/safe-haven-logo.jpg', alt='SAFE Haven Logo')

        div(class='icon-box text-center mb-5')
            a(class='icon-link' href='https://www.safehavenforcats.org/')
                i(class='fas fa-3x fa-link' title='SAFE Haven Website')
            a(class='icon-link' href='https://twitter.com/SafeHaven4Cats')
                i(class='fab fa-3x fa-twitter' title='Twitter')
            a(class='icon-link' href='https://www.facebook.com/safehavenforcats')
                i(class='fab fa-3x fa-facebook' title='Facebook')
            a(class='icon-link' href='https://www.instagram.com/safehaven4cats/')
                i(class='fab fa-3x fa-instagram' title='Instagram')
            a(class='icon-link' href='https://www.youtube.com/channel/UCgwEigI6E0YNQj_NPs7uExQ')
                i(class='fab fa-3x fa-youtube' title='YouTube')

        p.
            One reason we are so excited to work with SAFE Haven is their mission statement and core values. From
            their #[a(href='https://www.safehavenforcats.org/about-us/mission-vision-values/') website]:

        blockquote
            p.
                The mission of SAFE Haven for Cats is to use no-kill principles and education to save cats’ lives
                through rescue, adoption, spay / neuter services and community programs.
            p.
                SAFE Haven for Cats Believes:
            ul
                li.
                    Every animal and human at SAFE Haven is an individual being with personality, feelings, intrinsic
                    worth and value. As such, they will be treated with respect and care in a non-judgmental, safe
                    environment.
                li.
                    We will always exist as a 501(c)(3) no-kill organization and strive to find homes for every
                    adoptable, treatable and recoverable cat we take.
                li.
                    Community volunteers are a vital part of our success and we acknowledge and celebrate their
                    contributions.
                li.
                    Affordable sterilization, community education and trap / neuter / vaccinate / return are proven
                    methods to stop euthanasia as a means of population control for companion animals.
                li.
                    We will not adopt out an animal before sterilization.
                li.
                    We will not euthanize an animal except in the case of illness, injury or other condition from which
                    they cannot recover, and then only by lethal injection.
                li.
                    Partnering, collaborating and advocating with other organizations and government agencies increases
                    our ability to benefit these animals and save lives.


    section(id='charity-map')

        h1 Map

        div(class='maps-responsive')
            iframe(width='100%' height='400' frameborder='0' style='border:0' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.119738685099!2d-78.57189234802831!3d35.89508298004757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac575478b7b7fd%3A0x30dcdee3d7821b72!2sSafe%20Haven%20For%20Cats!5e0!3m2!1sen!2sus!4v1630870868110!5m2!1sen!2sus" allowfullscreen)


    section(id='charity-auction')

        h1 The Charity Auction

        p.
            We will be hosting a charity auction in support of SAFE Haven. All funds raised as part of the auction will
            go directly to the charity in support of their mission.


        h2 Schedule

        p.
            The charity auction will be held on Sunday, November 14th. Please see the main events schedule for exact
            times and details. During the auction, donated items will be auctioned off to the highest bidder. The
            winner will collect their item by donating the value of their bid directly to the charity.

        h2 Donating to the Charity Auction

        p.
            You may donate items to the charity auction by bringing them to the charity auction during BWS. If you would
            like to donate an item to the charity auction but are unable to attend BWS 2021, you may mail the item to
            us. Please email #[a(href='mailto:charity-relations@ncanthrosociety.org') charity-relations@ncanthrosociety.org]
            with a description of the item for mailing instructions. Mailed items MUST be received by October 29th, two
            weeks prior to the start of the convention.

        p.
            When donating an item, please provide an estimated value and desired starting bid. We may adjust the
            starting bid as needed.

        p.
            Your donated items:

        ul
            li.
                Should be unique, or at least not easily purchasable within the dealer's den.
            li.
                Must not exceed a PG rating. In all cases, BWS staff and the charity have the right to refuse an item
                for any reason.
            li.
                Must be in new or like-new condition.
            li.
                Must have all price tags removed.

        p.
            The following items are prohibited:

        ul
            li.
                Self-prepared food items, food items that are not in a factory sealed package, and alcohol.
            li.
                Used clothing, costumes, and toys.
            li.
                Any item which is illegal to possess or sell in Durham, NC.

        h2 Participating in the Charity Auction

        p.
            All BWS members are welcome and encouraged to participate in the charity auction. Here's how it will work.

        ul
            li.
                Items will be introduced and given a starting bid by the auctioneer.
            li.
                To bid on an item, raise your hand high and call out your bid loudly. #[b NOTE. All bids are final.]
                Please be sure you are willing and able to make a donation to the charity before calling out your bid.
            li.
                The auctioneer will clearly announce when an item has sold, for how much, and to whom. They will
                collect the winner's badge number immediately and give them a receipt which will be verified by the
                charity when the item is collected.
            li.
                If you have won an item at the auction, please proceed to the charity representative after the auction
                ends to make your donation and collect your item.
            li.
                Donations may be made via cash, check, or card. Accepted cards are subject to the charity's payment
                processing system. Please check with the charity beforehand to verify they are able to accept your
                payment method.