extends /base


block variables
  - var title = 'Frequently Asked Questions'


block content
  section
    h1 Frequently Asked Questions (FAQ)

    h2 Who is NCAS? (who are you?)
    p
      | North Carolina Anthropomorphic Society Inc, (NCAS), is a nonprofit 
      | organization that hosts social and recreational events and community 
      |resources for its members who are enthusiasts of anthropomorphized 
      | animals such as cartoon characters, mascots, and such fantasy creatures.

    h2 Where is the event?
    p
      | Bewhiskered 2021 will be hosted in the Marriott at Research Triangle
      | Park, just a few minutes drive away from the state’s capital and RDU
      | airport. The hotel has a lot to offer, including modern guest rooms,
      | a spacious lobby and adjacent courtyard, and an on-site restaurant and
      | market for those who don't want to miss a minute of the action.
      | Multiple food options are within easy driving distance for parties that
      | want to get out and explore.

    h2 Do I need to pay for parking?
    p
      | No, parking is free for all members.

    h2 When is the event?
    p
      | November 12 - 14, 2021.

    h2 What can I do at Bewhiskered?
    p
      | Our main events are being worked on right now. Please look for updates on
      | this coming soon.

    h2 Is Bewhiskered Fursuit Friendly?
    p
      | Yes! You can wear your fursuit anywhere reasonable while at the
      | convention.  Exceptions (where you must uncover your face) will be at the
      | front desk of the hotel and on request of hotel staff, Registration, on
      | request of security staff, and when purchasing alcoholic beverages on the
      | property.

    h2 Do I need a fursuit to come?  Do I need one to enjoy myself?
    p
      | Absolutely not!  While a good fursuit may enhance your experience, you do
      | not need one to attend this event or enjoy yourself.

    h2 What is there to eat nearby?
    p
      | There are multiple food options nearby and a restaurant within the hotel,
      | though we caution that these are not within traditional walking distance
      | and advise that members drive to or catch a ride to these food options.

    h2 What is the refund policy?
    p
      | Refunds are available on request until 2021 (TBD). Please
      | email contact@bewhiskeredcon.org with your request.

    h2 Is any part of my registration tax deductible?
    p
      | Unfortunately no. NCAS is a 501c7 social nonprofit which means
      | contributions are not considered tax deductible for members.

    h2 Can my registration be transferred if I cannot attend?
    p
      | Not at this time. If you need to refund your admission you may do so
      | according to our refund policy.

    h2 Are day tickets available?
    p
      | Not at this time.