extends /base


block variables
  - var title = 'Frequently Asked Questions'


block content
  section
    h1 Staff and Volunteer Information
    p
      | Want to help us make Bewhiskered the best con we can? Join us! We’re
      | looking for more like-minded souls that share our values to aid in
      | our quest!

    h2 Staff
    p
      | NCAS is currently seeking more staff volunteers to help out for our
      | premier furry convention. Positions with us are unpaid, and may have
      | time requirements before and after the convention. However, accepting
      | a staff volunteer position reflects a serious commitment to help make
      | Bewhiskered better for everyone. If you have any questions about how
      | you can help, our human resources department will be happy to answer
      | them. Send an email to
      | #[a(href='mailto:hr@ncanthrosociety.com') hr@ncanthrosociety.com]
      | and one of our attentive volunteers will get back to you.

    p
      | Are you ready to sign up now? View the list of open positions
      | #[a(href='https://docs.google.com/document/d/1iGX9aGj9-4zrZIjezsF2UBI9m1Y5WFlPh215GGWHQmo/edit?usp=sharing') here],
      | then submit a staff application
      | #[a(href='https://forms.gle/48M7V8KjQctZgPBD9') here] with some
      | information about yourself and what area you would like to help out in.
      | Our human resources department will reach out to you and may have some
      | additional questions.

    h2 Volunteer
    p
      | Not quite ready to take the plunge into being a full staff member?
      | We’re looking for general volunteers as well! Volunteering positions
      | are available during the convention to assist with a variety of tasks.
    p
      | You must be registered for Bewhiskered before applying as a volunteer.
    p
      | Ready to sign up? Submit an application
      | #[a(href='https://forms.gle/F35n6iALsLUceHj59') here]. Note that if you
      | are 16-17 and would like to volunteer, your parents will also need to
      | fill out our volunteer parental consent form, found
      | #[a(href='/files/volunteer-parental-consent-form.pdf') here],
      | and send it to us at
      | #[a(href='mailto:volunteering@ncanthrosociety.com') volunteering@ncanthrosociety.com].