extends /base


block variables
  - var title = 'What is a Furry?'


block content
  section
    h1 What is a Furry?
    p
      | The quickest answer is that furries are people who have a love for
      | animals with human characteristics, also known as anthropomorphic
      | animals. There isn’t one specific set of criteria that guarantees
      | someone belongs to the furry fandom, and most furries have their own
      | unique reasons for identifying as a part of the community. 

    p
      | Furry in its simplest form is a way for people to express themselves.
      | Most furries have an animal character, known as a fursona, that
      | represents them within the fandom. Fursonas can be any species,
      | hybrids, or even mythical creatures, and are only limited by the
      | imagination. A fursona is typically seen as a form of self-expression,
      | and can give someone the courage to be who they want to be without the
      | pressures or expectations of society.
    p
      | Most furries will bring their fursona to life through artwork and
      | other creative outlets. Custom made badges depicting an artistic
      | representation of the fursona, either self-drawn or commissioned from
      | an artist, are among the most common and are often used by community
      | members to identify each other in-person and online. Some furries also
      | make or commission complete costumes, known as fursuits, representing
      | their fursona. There are more niche ways of expressing oneself in the
      | fandom as well. Writers, dancers, photographers, and more often mix
      | their love of furry with their selected art form.
    p
      | At conventions like Bewhiskered, people from all walks of life come
      | together to celebrate every aspect of furry. Writers, costume designers,
      | and a range of artists can be found in the Dealers Dens or the Artist
      | Alley to help you craft the next (or first) version of your fursona.
      | Experts in their furry-centric fields host educational panels, or
      | meetups for like-minded furries. Dancers can strut their stuff in or out
      | of fursuit most nights, and may choose to compete in competitions. Most
      | importantly, furry conventions provide a place for furries to meet their
      | friends and make new ones.