extends base

    // Main body
    #content.container-fluid(role='main')
      #noslide.col.text-center.mb-2
        a.btn.btn-lg.btn-outline-primary.w-100(href='https://photos.app.goo.gl/YodzKbeCxvsFqHB77') Non Slideshow Gallery
      script(src='https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js', async='')
      .pa-carousel-widget(style='width:100%; height:480px; display:none;', data-link='https://photos.app.goo.gl/YodzKbeCxvsFqHB77', data-title='Bewhiskered 2021: Fursuit Photos', data-description='21 new items · Album by NC Anthro Society', data-delay='4')
        object(data='https://lh3.googleusercontent.com/Zu59WAtkgbEwHLK_vZZ1zhuOpTOm7oBwPOauSfPM2WzZXILt_k9ttkBQDYbhg5TCVyqTJQODUoObRymXrrdYa2uRyrR82AymvX9iW-rVXaprg1WjCoJCRBdtcHG9Qfi4Xoi3JDuNNA=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/7JgzYEqrjORzA4BCQYAGK4YM29EEe7nz1NJMo7gjLdLJKvZm2F5ZiNMs7hddA3KFFy2rb4hEDSk5di5FAZF1YCBPp2lqcH_v5d_DaAYQ9UFlRaO0ru9TmK0AVS8MP6bRQW6YZjyHkA=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/UmznRY72DSvZq07uF29FzgicZ5LB3pX5ZlZDHg4nAnFUZM1oub4K1k2CFF2NffRFhR6q2YnE-oEiG_lI2mS5aA7Z6aZxiyw6YLJrS1mil5QWoneUiom5t46QumZ7mrKN5tqi9yYVGw=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/EheS6USLAcx85e1FFqtIxT6O0LtT9PcyQNxMYzdUUVA8opFT0gaqSQ6PL-zjPM5h4AZ4zGhqIJVdM8ctrXhUBvMPy1lsixLTbiJzLxG6k_Y9ZOJNvQksUX2C2FlzR26xSwJaJAkchA=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/DVn6JlyD9TlaNF78kwPDbXopGoq64xBQEUn2p2YpUnBalOuoccE9qwlt5V4Pq-CJUL9Lva-RlKt9XIbQqa1kFSjLpvNDjWj3rX4NO0nPVZYNJ0Z_dSHdJO-pwBlcJGbh9H4hY1urZQ=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/OEbF3qm4Im8j7SBh9WIhIJUeg4JGkSKen4VJ09r2qtRB7yzrdlWh0Hi-D5Gs0MmEGSmGGq-tn9iAd4t_3jwnBoqIwgOKUlpvtbLcO4c3Z7LxX2hek1c1o4PYRdpEoNNLNh2QdCbawQ=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/AQ0iYnVftSv9-4Jb6vMYQih-u0BmP9ewplUFGBZGsCQqDH2dU8pBVeFB526jp1jRWwaoFXrBFpfrap58sU3VO1x4nyA_OUJJ9fe0op7lS35kkW9cvoOOyEaQxaJeUwx3zmpWQ31P7Q=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/k4uphYkkdkYR4tzpBtd_BwZ5Pl0OQYoevYXeoFeK5gY5VJjTAoT5sTKwnd9MNukUWToll8s4t2gmQTsu0tv3Z2f8Lgi6TpwKiJU1dhHyGuvq5gtVEcnxDhX9EDrkebuY_FEfozipTA=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/bf2xx8AAaHHYll7ac4Fb-N-9gRti9YL1_eRBnY9dnXA5bgV60j9mSXjt8xrwAeoP2PoX1kblFuTKjDO5GNR5icr36Ha1yw9eqNNgQcmK1kksSrpett2QLEX17YK1J14bTgwGxLiy_Q=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/K-aRiCdliPoYo-5Mc_zaXvN1f-0mGIFJQVBfL-QsqQvbA3eeygbp5sEErHCKSIEGjkiwLA7nm364elKQvGWmjwXDK3Mg4gEbnn2bsOPa7nmIXDzzSOZRu9QMJTqLWS9otbWB22yP4w=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/boqrBHPK2_1BXVkLT2fEvnumj_CZ3DostK8W3UukwiWmYZPRtwff-jogxaJz_Aw1-YukgcbFvO6dSSZVBoz0sCigTycKdmfWwCIjrHKyLwg0qRp7Rd8_BfuGD2O8XteBbjvF5GXVHg=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/TnLaDARCAizFMJTOOyS1E6z-ozGmVYyPqo-c52qgDHdYNnq2ael57OA4am3kLBtZcxp4EQXMEA3MVMerOtOq3oad-K75IVv4qDlZp9uZuS0rCdxID0w4uTkxMNYwFtbTzjoOCE8VeQ=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/LYUUtOpRgBlhCiovOFqsHcxlwT6B6k8jxp26d5oXAQNjAaExqGOnDMPh9J8QyW2WYQDA736Ir2w4rBd_2EWr0pbcL5-QxdxI99kcOpDh756hXGbJW_y_rgC1By6j0L6VI1YisMhiVg=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/X6hKseT9ZO_T_N4wo4-tLlkTeG8TSB1vZF0faXvhPin073pXc1gnGUncnSiwE-C3nXpj3NedxiSxwE1jUAqYCScV9t-JVuJfkMqAxtvMwJyXXvkT1zcauJ3DBTrMVhg7wk47BZpNbw=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/3PFYdKEiqsGQzcMCK140HAO5FlD_lpoL-uDLIGYalxvLJLlW61wK2pQSGa6C_xv-ytglfWgyNlYDgv4W3HZavoZ4pEZMOV_CE31CwSx7fgv0JzCgMDOVqHQWV_m6T0HNF9wP2yohng=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/Y6S1NBQW3oNDvbKfpyhxDM28b278WyzxOCW3yJi1GQpq6iWFNTuAYOugL_UvVtmql4GKVHrjG6uchBRkqC6jrkqR75OWoXwEaUmwsfVAN09qhGbaAFCQQivXHfY2F3mGhWOZlg43Vw=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/5zatA3oMHvnrM1LHTYU19dcdoYi7DgvxND9xuQf1YwSNu7B-7BLn-4Hi1dX-Wv6Mk7FXDUeH_XckR-OkW7wRjca1Xb3xkx0VzKH9I07Msp4L74cd83TgGhNtCKKI5HUqCZbqaaXBYg=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/x8SbURKAd-DuLRpyBtafD6L0u4a-C8ZZ7nnESiogqr7Eak-Eu16IUvhcBjkzvvznt9Kw1nFy0pwH5GBVTbxP12XdcR3ziGhUkJyfIuXAJrmy22g6jmPoLkMT4DBKFqpAzqiCt4eH1A=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/tBQJBweK-pTm8kMmRwKG111PHB1KhvDQiMWswagOvQt7PHOT8Be1cjhrCxin3_iwQt6RUSBRaelZZUFnW4IXiQWD2mzJb3LW-kpA8u4jJPC9mEIKVb8aJs5_4vJUDG6cUM2ULHoSTw=w1920-h1080')
        object(data='https://lh3.googleusercontent.com/1X8XUpl093XcWvXkOvrpT1Lo0euV5epf0fIdXLY22RCEddOUepzbsVZWgAzR6hwqlVf70j-4b3iZICjNZYaBFjYUUCdl0Ra_AmYRHsEpE_g-kdTm_kjyoDzfBYSkku3-Uo0kltiSZA=w1920-h1080')
    | &#x9;
    script(src='https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js', async='')
