-
  const contacts = [
    {
      sectionTitle: 'North Carolina Anthro Society (NCAS)',
      sectionId: 'ncas',
      addresses: 
      [
        {
          title: 'NCAS Contact',
          address: 'contact@ncanthrosociety.org',
        },
        {
          title: 'NCAS Charity Relations',
          address: 'charity-relations@ncanthrosociety.org',
        },
        {
          title: 'NCAS Dealer Relations',
          address: 'dealer-relations@ncanthrosociety.org',
        },
        {
          title: 'NCAS Event Planning',
          address: 'event-planning@ncanthrosociety.org',
        },
        {
          title: 'NCAS Guest Relations',
          address: 'guest-relations@ncanthrosociety.org',
        },
        {
          title: 'NCAS HR',
          address: 'hr@ncanthrosociety.org',
        },
        {
          title: 'NCAS Registration',
          address: 'registration@ncanthrosociety.org',
        },
        {
          title: 'NCAS Volunteering',
          address: 'volunteering@ncanthrosociety.org',
        },
        {
          title: 'NCAS Venue Relations',
          address: 'venue-relations@ncanthrosociety.org',
        },
        {
          title: 'NCAS Vendor Relations',
          address: 'vendor-relations@ncanthrosociety.org',
        }
      ]
    },
    {
      sectionTitle: 'Bewhiskered (BWS)',
      sectionId: 'bewhiskered',
      addresses: [
        {
          title: 'BWS Contact',
          address: 'contact@bewhiskeredcon.org',
        },
        {
          title: 'BWS Dealer Relations',
          address: 'dealer-relations@bewhiskeredcon.org',
        },
        {
          title: 'BWS DJ Coordinator',
          address: 'dj-coordinator@bewhiskeredcon.org',
        },
        {
          title: 'BWS Programming',
          address: 'programming@bewhiskeredcon.org',
        },
        {
          title: 'BWS Vendor Relations',
          address: 'vendor-relations@bewhiskeredcon.org',
        },
        {
          title: 'BWS Volunteering',
          address: 'volunteering@bewhiskeredcon.org',
        },
      ]
    },
    {
      sectionTitle: 'Blue Ridge Furfare (BRFF)',
      sectionId: 'brff',
      addresses: [
        {
          title: 'BRFF Contact',
          address: 'contact@blueridgefurfare.org',
        },
        {
          title: 'BRFF Dealer Relations',
          address: 'dealer-relations@blueridgefurfare.org',
        },
        {
          title: 'BRFF Volunteering',
          address: 'volunteering@blueridgefurfare.org',
        }
      ]
    }
  ]