-
    /**
     * @typedef {Object} Event
     *
     * @property {string}        title               Event title.
     * @property {string}        type                Event type. One of: main-event, guest-performance, panel,
     *                                               after-dark-panel, social-event, general-open-hours, setup,
     *                                               shutdown, or other.
     * @property {Array[string]} hosts               Event host names.
     * @property {string}        location            Event location.
     * @property {Date}          start               Event start date.
     * @property {Date}          end                 Event end date.
     * @property {Object}        [streamPlatform]    Streaming platform if the event will be streamed.
     * @property {string}        streamPlatform.name Streaming platform display name.
     * @property {string}        streamPlatform.type Streaming platform type for styling (Twitch, MixCloud, etc.).
     * @property {string}        streamPlatform.link Streaming platform link.
     * @property {string}        description         Event description.
     */

    // TODO Get names for all the room locations.

    // All times for BWS are in EST.
    // Links:
    // Twitch   - https://www.twitch.tv/ncanthrosociety
    // MixCloud - https://www.mixcloud.com/live/NCAnthroSociety/
    const events = [
    // Thursday
        {
            title: 'Dealer Den Setup',
            type: 'setup',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-11 4:00 PM EST'),
            end: new Date('2021-11-11 8:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Early Pre-Reg Pickup',
            type: 'general-open-hours',
            hosts: [],
            location: '[Headless Lounge]',
            start: new Date('2021-11-11 4:00 PM EST'),
            end: new Date('2021-11-11 7:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Convention Store Reg Swag Pickup',
            type: 'general-open-hours',
            hosts: [],
            location: '[Convention Store]',
            start: new Date('2021-11-11 4:00 PM EST'),
            end: new Date('2021-11-11 7:00 PM EST'),
            description: '[description]',
        },
    // Friday
        // Main Stage
        {
            title: 'Opening Ceremonies',
            type: 'main-event',
            hosts: ['NC Anthro Society Staff'],
            location: '[Main Stage]',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-12 1:00 PM EST'),
            streamPlatform: {
                name: 'Twitch',
                type: 'twitch',
                link: 'https://www.twitch.tv/ncanthrosociety',
            },
            description: '[Something about opening ceremonies.]',
        },
        {
            title: 'So This is Your First Convention',
            type: 'main-event',
            hosts: ['DocFox','Mikey','Lupus'],
            location: '[Main Stage]',
            start: new Date('2021-11-12 1:30 PM EST'),
            end: new Date('2021-11-12 2:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Meet the Guests of Honor',
            type: 'main-event',
            hosts: ['Eddie Bear','Chise'],
            location: '[Main Stage]',
            start: new Date('2021-11-12 3:00 PM EST'),
            end: new Date('2021-11-12 4:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Fursuit Games',
            type: 'main-event',
            hosts: ['NC Anthro Society Staff'],
            location: '[Main Stage]',
            start: new Date('2021-11-12 5:00 PM EST'),
            end: new Date('2021-11-12 6:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Lip Sync Battles',
            type: 'main-event',
            hosts: ['NC Anthro Society Staff'],
            location: '[Main Stage]',
            start: new Date('2021-11-12 7:00 PM EST'),
            end: new Date('2021-11-12 9:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dances',
            type: 'main-event',
            hosts: ['NC Anthro Society Staff'],
            location: '[Main Stage]',
            start: new Date('2021-11-12 10:00 PM EST'),
            end: new Date('2021-11-13 2:00 AM EST'),
            streamPlatform: {
                name: 'MixCloud',
                type: 'mixcloud',
                link: 'https://www.mixcloud.com/live/NCAnthroSociety/',
            },
            description: '[description]',
        },
        // Panel Room
        {
            title: 'Fursuit Cleaning',
            type: 'panel',
            hosts: ['Eddie Bear'],
            location: '[Panel Room]',
            start: new Date('2021-11-12 1:30 PM EST'),
            end: new Date('2021-11-12 2:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Panel for Parents',
            type: 'panel',
            hosts: ['Maxx'],
            location: '[Panel Room]',
            start: new Date('2021-11-12 3:00 PM EST'),
            end: new Date('2021-11-12 4:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Tik Tok Meet and Greet',
            type: 'social-event',
            hosts: ['Grindstone'],
            location: '[Panel Room]',
            start: new Date('2021-11-12 4:00 PM EST'),
            end: new Date('2021-11-12 5:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dance Competition - Tryouts',
            type: 'other',
            hosts: ['NC Anthro Society Staff'],
            location: '[Panel Room]',
            start: new Date('2021-11-12 5:30 PM EST'),
            end: new Date('2021-11-12 7:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Marten Microbiology',
            type: 'panel',
            hosts: ['Chise'],
            location: '[Panel Room]',
            start: new Date('2021-11-12 7:30 PM EST'),
            end: new Date('2021-11-12 9:00 PM EST'),
            streamPlatform: {
                name: 'Twitch',
                type: 'twitch',
                link: 'https://www.twitch.tv/ncanthrosociety',
            },
            description: '[description]',
        },
        {
            title: 'Uncle Kage\'s Story Hour',
            type: 'guest-performance',
            hosts: ['Uncle Kage'],
            location: '[Panel Room]',
            start: new Date('2021-11-12 9:00 PM EST'),
            end: new Date('2021-11-12 10:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Karaoke',
            type: 'main-event',
            hosts: ['NC Anthro Society Staff'],
            location: '[Panel Room]',
            start: new Date('2021-11-12 11:00 PM EST'),
            end: new Date('2021-11-13 1:00 AM EST'),
            description: '[description]',
        },
        // Everything else
        {
            title: 'Game Room Setup',
            type: 'setup',
            hosts: [],
            location: '[Game Room]',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 12:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Game Room Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Game Room]',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-13 12:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Setup',
            type: 'setup',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-12 8:30 AM EST'),
            end: new Date('2021-11-12 12:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-12 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Takedown',
            type: 'shutdown',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-12 6:00 PM EST'),
            end: new Date('2021-11-12 7:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Sponsor Lounge Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Sponsor Lounge]',
            start: new Date('2021-11-12 11:00 AM EST'),
            end: new Date('2021-11-12 9:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Zoo/Courtyard Open (24 Hours)',
            type: 'general-open-hours',
            hosts: [],
            location: '[Courtyard/Other]',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-14 1:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Charity Table Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Charity Table]',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-12 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Registration Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Registration]',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 8:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Photo Booth Setup',
            type: 'setup',
            hosts: [],
            location: '[Photo Booth]',
            start: new Date('2021-11-12 8:30 AM EST'),
            end: new Date('2021-11-12 11:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Photo Booth Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Photo Booth]',
            start: new Date('2021-11-12 11:00 AM EST'),
            end: new Date('2021-11-14 1:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Photo Booth Manned',
            type: 'general-open-hours',
            hosts: [],
            location: '[Photo Booth]',
            start: new Date('2021-11-12 1:00 PM EST'),
            end: new Date('2021-11-12 4:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Headless Lounge Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Headless Lounge]',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-13 2:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Convention Store - Swag Pickup Only',
            type: 'general-open-hours',
            hosts: [],
            location: '[Convention Store]',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 12:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Convention Store Full Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Convention Store]',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-12 8:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Guest Services Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Guest Services]',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 7:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Convention Operations (ConOps) Open (24 hours)',
            type: 'general-open-hours',
            hosts: [],
            location: '[Convention Operations (ConOps)]',
            start: new Date('2021-11-12 9:00 AM EST'),
            end: new Date('2021-11-15 1:00 AM EST'),
            description: '[description]',
        },
    // Saturday
        // Main Stage
        {
            title: 'Fursuit Handling & Group Photo',
            type: 'main-event',
            hosts: [''],
            location: '[Main Stage]',
            start: new Date('2021-11-13 12:00 PM EST'),
            end: new Date('2021-11-13 12:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Fursuit Parade',
            type: 'main-event',
            hosts: [''],
            location: '[Main Stage]',
            start: new Date('2021-11-13 12:30 PM EST'),
            end: new Date('2021-11-13 1:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Improv Show',
            type: 'main-event',
            hosts: [''],
            location: '[Main Stage]',
            start: new Date('2021-11-13 2:00 PM EST'),
            end: new Date('2021-11-13 3:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dusk\'s Furry Game Show Catastrophe',
            type: 'main-event',
            hosts: [''],
            location: '[Main Stage]',
            start: new Date('2021-11-13 4:30 PM EST'),
            end: new Date('2021-11-13 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dance Battle',
            type: 'main-event',
            hosts: [''],
            location: '[Main Stage]',
            start: new Date('2021-11-13 7:00 PM EST'),
            end: new Date('2021-11-13 9:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dances',
            type: 'main-event',
            hosts: [''],
            location: '[Main Stage]',
            start: new Date('2021-11-13 10:00 PM EST'),
            end: new Date('2021-11-14 2:00 AM EST'),
            streamPlatform: {
                name: 'MixCloud',
                type: 'mixcloud',
                link: 'https://www.mixcloud.com/live/NCAnthroSociety/',
            },
            description: '[description]',
        },
        // Panel Room
        {
            title: 'Anime Meet-Up',
            type: 'social-event',
            hosts: ['Taythan'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 11:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Film @ 11',
            type: 'panel',
            hosts: ['Protius'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 11:00 AM EST'),
            end: new Date('2021-11-13 12:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Create Your Fursona Backstory',
            type: 'panel',
            hosts: ['Crimson'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 12:00 PM EST'),
            end: new Date('2021-11-13 1:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Really Old School Dance',
            type: 'guest-performance',
            hosts: ['Ponder Beaver'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 1:00 PM EST'),
            end: new Date('2021-11-13 2:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'WNC Furs Meet-Up',
            type: 'social-event',
            hosts: ['Maxx & Company'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 2:00 PM EST'),
            end: new Date('2021-11-13 3:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Designing a Fursuit',
            type: 'panel',
            hosts: ['Eddie Bear'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 3:00 PM EST'),
            end: new Date('2021-11-13 4:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Hicking North Carolina Forum',
            type: 'panel',
            hosts: ['Jax','Mikey'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 4:00 PM EST'),
            end: new Date('2021-11-13 5:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Roleplaying 101',
            type: 'panel',
            hosts: ['Major'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 5:00 PM EST'),
            end: new Date('2021-11-13 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Fursuitng 101',
            type: 'panel',
            hosts: ['Sunrisefox','Lixzio','ArcticFox'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 6:00 PM EST'),
            end: new Date('2021-11-13 7:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Fursuit Making 101',
            type: 'panel',
            hosts: ['Kaida'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 7:00 PM EST'),
            end: new Date('2021-11-13 8:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Match Game',
            type: 'main-event',
            hosts: [],
            location: '[Panel Room]',
            start: new Date('2021-11-13 9:00 PM EST'),
            end: new Date('2021-11-13 10:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Therian Meditation',
            type: 'panel',
            hosts: ['Maxx'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 10:30 PM EST'),
            end: new Date('2021-11-13 11:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Spuwuky Stories',
            type: 'after-dark-panel',
            hosts: ['Chowfur'],
            location: '[Panel Room]',
            start: new Date('2021-11-13 11:30 PM EST'),
            end: new Date('2021-11-14 12:30 AM EST'),
            description: '[description]',
        },
        {
            title: 'XXX Charades',
            type: 'after-dark-panel',
            hosts: ['Gypsy Rayne', 'Orrin ThunderHoof'],
            location: '[Panel Room]',
            start: new Date('2021-11-14 12:30 AM EST'),
            end: new Date('2021-11-14 2:00 AM EST'),
            description: '[description]',
        },
        // Everything else
        {
            title: 'Game Room Setup',
            type: 'setup',
            hosts: [],
            location: '[Game Room]',
            start: new Date('2021-11-13 9:00 AM EST'),
            end: new Date('2021-11-13 10:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Game Room Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Game Room]',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-14 12:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Setup',
            type: 'setup',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-13 8:30 AM EST'),
            end: new Date('2021-11-13 10:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Takedown',
            type: 'shutdown',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-13 6:00 PM EST'),
            end: new Date('2021-11-13 7:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Sponsor Lounge Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Sponsor Lounge]',
            start: new Date('2021-11-13 11:00 AM EST'),
            end: new Date('2021-11-13 4:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Super Sponsor Social',
            type: 'general-open-hours',
            hosts: [],
            location: '[Sponsor Lounge]',
            start: new Date('2021-11-13 4:30 PM EST'),
            end: new Date('2021-11-13 6:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Sponsor Lounge Open (again)',
            type: 'general-open-hours',
            hosts: [],
            location: '[Sponsor Lounge]',
            start: new Date('2021-11-13 6:30 PM EST'),
            end: new Date('2021-11-13 9:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Car Meet',
            type: 'social-event',
            hosts: ['Gray'],
            location: 'Parking Lot',
            start: new Date('2021-11-13 10:30 AM EST'),
            end: new Date('2021-11-13 12:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Bunny Meetup',
            type: 'social-event',
            hosts: [],
            location: 'Courtyard',
            start: new Date('2021-11-13 4:00 PM EST'),
            end: new Date('2021-11-13 5:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Charity Table Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Charity Table]',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Registration Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Registration]',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 8:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Photo Booth Manned',
            type: 'general-open-hours',
            hosts: [],
            location: '[Photo Booth]',
            start: new Date('2021-11-12 2:30 PM EST'),
            end: new Date('2021-11-12 5:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Headless Lounge Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Headless Lounge]',
            start: new Date('2021-11-13 9:30 AM EST'),
            end: new Date('2021-11-14 2:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Convention Store Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Convention Store]',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 8:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Guest Services Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Guest Services]',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 7:00 PM EST'),
            description: '[description]',
        },
    // Sunday
        // Main Stage
        {
            title: 'Charity Auction',
            type: 'main-event',
            hosts: [],
            location: '[Main Stage]',
            start: new Date('2021-11-14 11:00 AM EST'),
            end: new Date('2021-11-14 1:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dance Competition - Setup',
            type: 'setup',
            hosts: [],
            location: '[Main Stage]',
            start: new Date('2021-11-14 1:00 PM EST'),
            end: new Date('2021-11-14 2:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dance Competition',
            type: 'main-event',
            hosts: [],
            location: '[Main Stage]',
            start: new Date('2021-11-14 2:00 PM EST'),
            end: new Date('2021-11-14 4:30 PM EST'),
            streamPlatform: {
                name: 'MixCloud',
                type: 'mixcloud',
                link: 'https://www.mixcloud.com/live/NCAnthroSociety/',
            },
            description: '[description]',
        },
        {
            title: 'Fursuit Games',
            type: 'main-event',
            hosts: [],
            location: '[Main Stage]',
            start: new Date('2021-11-14 5:00 PM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Closing Ceremonies',
            type: 'main-event',
            hosts: [],
            location: '[Main Stage]',
            start: new Date('2021-11-14 6:30 PM EST'),
            end: new Date('2021-11-14 7:30 PM EST'),
            streamPlatform: {
                name: 'Twitch',
                type: 'twitch',
                link: 'https://www.twitch.tv/ncanthrosociety',
            },
            description: '[description]',
        },
        {
            title: 'So you wanna staff a con?',
            type: 'main-event',
            hosts: [],
            location: '[Main Stage]',
            start: new Date('2021-11-14 7:30 PM EST'),
            end: new Date('2021-11-14 8:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dead Dog Dance',
            type: 'main-event',
            hosts: [],
            location: '[Main Stage]',
            start: new Date('2021-11-14 10:00 PM EST'),
            end: new Date('2021-11-15 1:00 AM EST'),
            streamPlatform: {
                name: 'MixCloud',
                type: 'mixcloud',
                link: 'https://www.mixcloud.com/live/NCAnthroSociety/',
            },
            description: '[description]',
        },
        // Panel Room
        {
            title: 'Effective Writing',
            type: 'panel',
            hosts: ['Uncle Kage'],
            location: '[Panel Room]',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 11:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Virtual Reality 101',
            type: 'panel',
            hosts: ['Gray'],
            location: '[Panel Room]',
            start: new Date('2021-11-14 11:00 AM EST'),
            end: new Date('2021-11-14 12:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Pin & Sticker Swap Meet',
            type: 'social-event',
            hosts: ['Kofu'],
            location: '[Panel Room]',
            start: new Date('2021-11-14 12:00 PM EST'),
            end: new Date('2021-11-14 1:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Fursuit Performance',
            type: 'panel',
            hosts: ['Eddie Bear'],
            location: '[Panel Room]',
            start: new Date('2021-11-14 1:00 PM EST'),
            end: new Date('2021-11-14 2:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Triad Furs Meet-Up',
            type: 'social-event',
            hosts: [''],
            location: '[Panel Room]',
            start: new Date('2021-11-14 2:00 PM EST'),
            end: new Date('2021-11-14 3:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Apollo Guidance Computer',
            type: 'panel',
            hosts: ['Lupus'],
            location: '[Panel Room]',
            start: new Date('2021-11-14 3:00 PM EST'),
            end: new Date('2021-11-14 4:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Feline Meet-Up',
            type: 'social-event',
            hosts: ['Benji'],
            location: '[Panel Room]',
            start: new Date('2021-11-14 4:00 PM EST'),
            end: new Date('2021-11-14 5:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'How to Run a Fur Group',
            type: 'panel',
            hosts: ['Maxx'],
            location: '[Panel Room]',
            start: new Date('2021-11-14 5:00 PM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: '[description]',
        },
        // Everything else
        {
            title: 'Game Room Setup',
            type: 'setup',
            hosts: [],
            location: '[Game Room]',
            start: new Date('2021-11-14 9:00 AM EST'),
            end: new Date('2021-11-14 10:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Game Room Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Game Room]',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Setup',
            type: 'setup',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-14 8:30 AM EST'),
            end: new Date('2021-11-14 10:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Dealer Den Takedown',
            type: 'shutdown',
            hosts: [],
            location: '[Dealer Den]',
            start: new Date('2021-11-14 4:00 PM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Sponsor Lounge Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Sponsor Lounge]',
            start: new Date('2021-11-14 11:00 AM EST'),
            end: new Date('2021-11-14 2:30 PM EST'),
            description: '[description]',
        },
        {
            title: 'Charity Table Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Charity Table]',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Auction Pickups (Con Signage)',
            type: 'general-open-hours',
            hosts: [],
            location: '[Charity Table]',
            start: new Date('2021-11-14 5:00 PM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Registration Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Registration]',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 2:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Photo Booth Manned',
            type: 'general-open-hours',
            hosts: [],
            location: '[Photo Booth]',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 1:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Headless Lounge Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Headless Lounge]',
            start: new Date('2021-11-14 9:30 AM EST'),
            end: new Date('2021-11-15 1:00 AM EST'),
            description: '[description]',
        },
        {
            title: 'Convention Store Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Convention Store]',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 7:00 PM EST'),
            description: '[description]',
        },
        {
            title: 'Guest Services Open',
            type: 'general-open-hours',
            hosts: [],
            location: '[Guest Services]',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 7:00 PM EST'),
            description: '[description]',
        },
    ];
