-
    /**
     * @typedef {Object} Event
     *
     * @property {string}        title               Event title.
     * @property {string}        type                Event type. One of: main-event, guest-performance, panel,
     *                                               after-dark-panel, social-event, general-open-hours, setup,
     *                                               shutdown, or other.
     * @property {Array[string]} [hosts]             Event host names.
     * @property {string}        [location]          Event location.
     * @property {Date}          start               Event start date.
     * @property {Date}          end                 Event end date.
     * @property {Object}        [streamPlatform]    Streaming platform if the event will be streamed.
     * @property {string}        streamPlatform.name Streaming platform display name.
     * @property {string}        streamPlatform.type Streaming platform type for styling (Twitch, MixCloud, etc.).
     * @property {string}        streamPlatform.link Streaming platform link.
     * @property {string}        [description]       Event description.
     */

    // TODO Get names for all the room locations.

    // All times for BWS are in EST.
    // Links:
    // Twitch   - https://www.twitch.tv/ncanthrosociety
    // MixCloud - https://www.mixcloud.com/live/NCAnthroSociety/
    const events = [
    // Thursday
        {
            title: 'Dealer Den Setup',
            type: 'setup',
            location: 'Dealer Den',
            start: new Date('2021-11-11 4:00 PM EST'),
            end: new Date('2021-11-11 8:00 PM EST'),
        },
        {
            title: 'Early Pre-Reg Pickup',
            type: 'general-open-hours',
            location: 'Headless Lounge',
            start: new Date('2021-11-11 4:00 PM EST'),
            end: new Date('2021-11-11 7:00 PM EST'),
        },
        {
            title: 'Convention Store Reg Swag Pickup',
            type: 'general-open-hours',
            location: 'Convention Store',
            start: new Date('2021-11-11 4:00 PM EST'),
            end: new Date('2021-11-11 7:00 PM EST'),
        },
    // Friday
        // Main Stage
        {
            title: 'Opening Ceremonies',
            type: 'main-event',
            hosts: ['NC Anthro Society Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-12 1:00 PM EST'),
            streamPlatform: {
                name: 'Twitch',
                type: 'twitch',
                link: 'https://www.twitch.tv/ncanthrosociety',
            },
            description: '3… 2… 1… Blast off! Join us as we launch off the first year of Bewhiskered! Meet the staff and get a peek into the journey that lies ahead of you this weekend.',
        },
        {
            title: 'So This is Your First Convention',
            type: 'main-event',
            hosts: ['DocFox','Mikey','Lupus'],
            location: 'Main Stage',
            start: new Date('2021-11-12 1:30 PM EST'),
            end: new Date('2021-11-12 2:30 PM EST'),
            description: 'Join our convention experienced staff members for an introductory panel for first-time attendees of furry conventions! (Or a refresher for those that haven\'t been in a while. Thanks COVID.)',
        },
        {
            title: 'Meet the Guests of Honor',
            type: 'main-event',
            hosts: ['Eddie Bear','Chise','Mikey'],
            location: 'Main Stage',
            start: new Date('2021-11-12 3:00 PM EST'),
            end: new Date('2021-11-12 4:00 PM EST'),
            description: 'Meet the guests of honor, learn more about who they are, and hear tales of their experiences with the fandom.',
        },
        {
            title: 'Fursuit Games',
            type: 'main-event',
            hosts: ['Bewhiskered Programming Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-12 5:00 PM EST'),
            end: new Date('2021-11-12 6:30 PM EST'),
            description: 'Calling all future space explorers for training exercises! Join us for a collection of fursuit games themed around astronaut training! Either come participate in Fursuit or just attend to watch the fun!',
        },
        {
            title: 'Lip Sync Battles',
            type: 'main-event',
            hosts: ['Mikey',DocFox],
            location: 'Main Stage',
            start: new Date('2021-11-12 7:00 PM EST'),
            end: new Date('2021-11-12 9:00 PM EST'),
            description: 'To all you intergalactic entertainers out there: do you enjoy lip-syncing to awesome music, while dancing and performing on-stage? What about doing so against another fellow fuzzbutt? Come show off your stellar and out-of-this-world moves and be the last one standing! And remember: Don’t mess it up!',
        },
        {
            title: 'Friday Dances',
            type: 'main-event',
            hosts: ['Bewhiskered Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-12 10:00 PM EST'),
            end: new Date('2021-11-13 2:00 AM EST'),
            streamPlatform: {
                name: 'MixCloud',
                type: 'mixcloud',
                link: 'https://www.mixcloud.com/live/NCAnthroSociety/',
            },
            description:'<p>Time - DJ - Style</p><br/>10:00 PM to 11:00 PM - <a href=\"https://twitter.com/DJ_Aurora_Cruxy\">DJ Aurora</a> - Drum & Bass, Happy Hardcore<br/>11:00 PM to 12:00 AM - <a href=\"https://twitter.com/RonnieNoodles\">Ronnie</a> - Progressive House, Progressive Trance<br/>12:00 AM to 1:00 AM - <a href=\"https://twitter.com/ScalieBloke\">Scalie Bloke</a> - House & House Accessories<br/>1:00 AM to 2:00 AM - <a href=\"https://twitter.com/RyneBearlet\">The Bearlet</a> - Rawstyle',
        },
        // Panel Room
        {
            title: 'Fursuit Cleaning',
            type: 'panel',
            hosts: ['Eddie Bear'],
            location: 'Panel Room',
            start: new Date('2021-11-12 1:30 PM EST'),
            end: new Date('2021-11-12 2:30 PM EST'),
            description: 'Learn how to clean and maintain your fursuit to keep it looking new.',
        },
        {
            title: 'Panel for Parents',
            type: 'panel',
            hosts: ['Maxx'],
            location: 'Panel Room',
            start: new Date('2021-11-12 3:00 PM EST'),
            end: new Date('2021-11-12 4:00 PM EST'),
            description: 'Has your child convinced you to come to this crazy event filled with animal people? Not exactly sure what all of this is about? Bring all of your questions and our resident furry expert will answer them all and give you good resources to learn more about this furry world your child has stepped into. You will also get a chance to meet other parents whose children share the same hobby!',
        },
        {
            title: 'Tik Tok Meet and Greet',
            type: 'social-event',
            hosts: ['Grinsome'],
            location: 'Panel Room',
            start: new Date('2021-11-12 4:00 PM EST'),
            end: new Date('2021-11-12 5:00 PM EST'),
            description: 'Are you a TikTok furry? Come to this TikTok panel and meet others just like you! Make friends, film TikToks and so much more!',
        },
        {
            title: 'Dance Competition - Tryouts',
            type: 'other',
            hosts: ['Bewhiskered Programming Staff'],
            location: 'Panel Room',
            start: new Date('2021-11-12 5:30 PM EST'),
            end: new Date('2021-11-12 7:00 PM EST'),
            description: 'If you are interested in participating in the Dance Competition on Sunday, sign up using the form on the Bewhiskered website and come to this tryout session!<br/><br/>Restricted to Applicants only.',
        },
        {
            title: 'Marten Microbiology',
            type: 'panel',
            hosts: ['Chise'],
            location: 'Panel Room',
            start: new Date('2021-11-12 7:30 PM EST'),
            end: new Date('2021-11-12 9:00 PM EST'),
            streamPlatform: {
                name: 'Twitch',
                type: 'twitch',
                link: 'https://www.twitch.tv/ncanthrosociety',
            },
            description: 'A panel to answer all your questions about microbes, vaccines, infectious diseases, and overall convention safety to reduce the spread of germs to yourself and others.',
        },
        {
            title: 'Uncle Kage\'s Story Hour',
            type: 'guest-performance',
            hosts: ['Uncle Kage'],
            location: 'Main Stage',
            start: new Date('2021-11-14 5:00 PM EST'),
            end: new Date('2021-11-14 6:30 PM EST'),
            description: 'A staple of many furry conventions for 25 years. In short, Uncle Kage gets up on stage and starts drinking a glass of wine and telling stories, and for some reason people keep inviting him back to do it again.',
        },
        {
            title: 'Late Night Karaoke',
            type: 'main-event',
            hosts: ['Bewhiskered Staff'],
            location: 'Panel Room',
            start: new Date('2021-11-12 11:00 PM EST'),
            end: new Date('2021-11-13 1:00 AM EST'),
            description: 'Come hang out and sing to your favorite tunes at this casual, judgment-free karaoke event!',
        },
        // Everything else
        {
            title: 'Game Room Setup',
            type: 'setup',
            location: 'Game Room',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 12:00 PM EST'),
            description: 'Beep boop, getting games ready...',
        },
        {
            title: 'Game Room Open',
            type: 'general-open-hours',
            location: 'Game Room',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-13 12:00 AM EST'),
            description: 'Game room open! Join us!',
        },
        {
            title: 'Dealer Den Setup',
            type: 'setup',

            location: 'Dealer Den',
            start: new Date('2021-11-12 8:30 AM EST'),
            end: new Date('2021-11-12 12:00 PM EST'),
        },
        {
            title: 'Dealer Den Open',
            type: 'general-open-hours',

            location: 'Dealer Den',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-12 6:00 PM EST'),
            description: 'The Dealer Den! Buy all the things!',
        },
        {
            title: 'Dealer Den Takedown',
            type: 'shutdown',

            location: 'Dealer Den',
            start: new Date('2021-11-12 6:00 PM EST'),
            end: new Date('2021-11-12 7:00 PM EST'),
        },
        {
            title: 'Sponsor Lounge Open',
            type: 'general-open-hours',

            location: 'Sponsor Lounge',
            start: new Date('2021-11-12 11:00 AM EST'),
            end: new Date('2021-11-12 9:00 PM EST'),
        },
        {
            title: 'Zoo/Courtyard Open (24 Hours)',
            type: 'general-open-hours',

            location: 'Courtyard/Other',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-14 1:00 AM EST'),
        },
        {
            title: 'Charity Table Open',
            type: 'general-open-hours',
            location: 'Charity Table',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-12 6:00 PM EST'),
            description: 'Donate to SAFE Haven for Cats or bring items for the auction.<br/><br/>See <a href=\"https://2021.bewhiskeredcon.org/events/charity\">here for more info</a>',
        },
        {
            title: 'Registration Open',
            type: 'general-open-hours',

            location: 'Registration',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 8:00 PM EST'),
        },
        {
            title: 'Photo Booth Setup',
            type: 'setup',

            location: 'Photo Booth',
            start: new Date('2021-11-12 8:30 AM EST'),
            end: new Date('2021-11-12 11:00 AM EST'),
            description: 'Please hold your photography until after we\'ve gotten control of the space-time continuum.',
        },
        {
            title: 'Photo Booth Open',
            type: 'general-open-hours',

            location: 'Photo Booth',
            start: new Date('2021-11-12 11:00 AM EST'),
            end: new Date('2021-11-14 1:00 AM EST'),
            description: 'Enjoy Portraits at the photo booth every day with our staff! Pose with Cassie and Whisky or bring your friends! The Pod Bay Doors are open for you!',
        },
        {
            title: 'Photo Booth Manned',
            type: 'general-open-hours',

            location: 'Photo Booth',
            start: new Date('2021-11-12 1:00 PM EST'),
            end: new Date('2021-11-12 4:00 PM EST'),
        },
        {
            title: 'Headless Lounge Open',
            type: 'general-open-hours',

            location: 'Headless Lounge',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-13 2:00 AM EST'),
        },
        {
            title: 'Convention Store - Swag Pickup Only',
            type: 'general-open-hours',

            location: 'Convention Store',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 12:00 PM EST'),
        },
        {
            title: 'Convention Store Full Open',
            type: 'general-open-hours',

            location: 'Convention Store',
            start: new Date('2021-11-12 12:00 PM EST'),
            end: new Date('2021-11-12 8:00 PM EST'),
        },
        {
            title: 'Guest Services Open',
            type: 'general-open-hours',

            location: 'Guest Services',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 7:00 PM EST'),
        },
        {
            title: 'Convention Operations (ConOps) Open (24 hours)',
            type: 'general-open-hours',

            location: 'Convention Operations (ConOps)',
            start: new Date('2021-11-12 9:00 AM EST'),
            end: new Date('2021-11-15 1:00 AM EST'),
        },
        {
            title: 'Artist Alley',
            type: 'general-open-hours',
            location: 'Artist Alley',
            start: new Date('2021-11-12 10:00 AM EST'),
            end: new Date('2021-11-12 8:00 PM EST'),
            description: 'Explore the Artist Alley and find awesome artwork and hand crafts!',
        },
    // Saturday
        // Main Stage
        {
            title: 'Fursuit Handling & Group Photo',
            type: 'main-event',
            hosts: ['Bewhiskered Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-13 12:00 PM EST'),
            end: new Date('2021-11-13 12:30 PM EST'),
            description: 'Calling all fursuiters to the bridge! Prepare to parade through the ship as your fellow cadets cheer you on. Feel free to join, as we get to see what wonderful creatures this planet has to offer!<br/><br/>The photo will take place in the Main Events Room at 12:15 sharp. Please arrive early! The parade will start immediately thereafter and will finish at the front of the hotel',
        },
        {
            title: 'Fursuit Parade',
            type: 'main-event',
            hosts: ['Bewhiskered Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-13 12:30 PM EST'),
            end: new Date('2021-11-13 1:30 PM EST'),
            description: 'Calling all fursuiters to the bridge! Prepare to parade through the ship as your fellow cadets cheer you on. Feel free to join, as we get to see what wonderful creatures this planet has to offer!<br/><br/>The photo will take place in the Main Events Room at 12:15 sharp. Please arrive early! The parade will start immediately thereafter and will finish at the front of the hotel',
        },
        {
            title: 'Improv Show',
            type: 'main-event',
            hosts: ['Mikey','DocFox'],
            location: 'Main Stage',
            start: new Date('2021-11-13 2:00 PM EST'),
            end: new Date('2021-11-13 3:30 PM EST'),
            description: 'Ready to laugh so hard you\’ll be blasted into space? Come join Mikey and DocFox as they host a variety of fun games inspired by Whose Line where you, the audience, will be encouraged to participate! You\’ll laugh, you may cry a bit (all from laughing too hard, promise!), but you\’ll always have a good time playing games such as Scenes from a Hat, New Line, and many more!',
        },
        {
            title: 'Dusk\'s Furry Game Show Catastrophe',
            type: 'main-event',
            hosts: ['Dusk','Bewhiskered Programming Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-13 4:30 PM EST'),
            end: new Date('2021-11-13 6:00 PM EST'),
            description: 'Represent your section of the audience in a wacky competition tribute to TV game shows from when we were kids! Contestants will be vying for points but also for laughs. You can enter a drawing to participate in the games or just watch in the audience. Either way, it’s a show you won\’t want to miss!',
        },
        {
            title: 'Space Dance Battle',
            type: 'main-event',
            hosts: ['Humphrey','Bewhiskered Programming Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-13 7:00 PM EST'),
            end: new Date('2021-11-13 9:00 PM EST'),
            description: 'In a galaxy not so far away, pairs of furries compete for control of the galactic floor. These dance battles will be brought to you live on the main stage!<br/><br/>Dancers, please be there by 6 PM for check in and sign up early to claim a spot by filling out the form on the Bewhiskered website!',
        },
        {
            title: 'Saturday Dances',
            type: 'main-event',
            hosts: [''],
            location: 'Main Stage',
            start: new Date('2021-11-13 10:00 PM EST'),
            end: new Date('2021-11-14 2:00 AM EST'),
            streamPlatform: {
                name: 'MixCloud',
                type: 'mixcloud',
                link: 'https://www.mixcloud.com/live/NCAnthroSociety/',
            },
            description: '<p>Time - DJ - Style</p><br/>10:00 PM to 11:00 PM - <a href="https://twitter.com/ryujindj">RyuJin</a> - Big Room, House, Electro, Hardstyle<br/>11:00 PM to 12:00 AM - <a href="https://twitter.com/loprov">Loprov</a> - Open Format / Genre Fluid<br/>12:00 AM to 1:00 AM - <a href="https://twitter.com/DefqonKangaroo">F3NN</a> - Heavy Bass Music<br/>1:00 AM to 2:00 AM - <a href="https://www.mixcloud.com/friccybiccy/">Biccy</a> - Hardcore, Jungle, Breakbeat, Happy Hardcore',
        },
        // Panel Room
        {
            title: 'Anime Meet-Up',
            type: 'social-event',
            hosts: ['Taythan','Kaito','Cringe'],
            location: 'Panel Room',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 11:00 AM EST'),
            description: 'Meet with other anime furs and chat about your favorite anime! No manga spoilers please - not everyone will have read ahead.',
        },
        {
            title: 'Film @ 11',
            type: 'panel',
            hosts: ['Protius'],
            location: 'Panel Room',
            start: new Date('2021-11-13 11:00 AM EST'),
            end: new Date('2021-11-13 12:00 PM EST'),
            description: 'You know how everything is on ebay?  Even those weird 16mm educational films they showed in elementary school?  Well I bought them...  Join us for a screening of NASA\'s "Apollo Digest".  Or perhaps a bunch of engine tests, or everything you ever wanted to know about starting an H1 engine (used on a Saturn 1 and 1B).  Sadly, not on actual 16mm, the film is 50 years old, but we can make do with digital.',
        },
        {
            title: 'Create Your Fursona Backstory',
            type: 'panel',
            hosts: ['Crimson'],
            location: 'Panel Room',
            start: new Date('2021-11-13 12:00 PM EST'),
            end: new Date('2021-11-13 1:00 PM EST'),
            description: 'Want to bring your character and works to life? Want to create a fun and exciting story that will help bring your fursona to life? Here is where you can!',
        },
        {
            title: 'Really Old School Dance',
            type: 'guest-performance',
            hosts: ['Ponder Beaver'],
            location: 'Panel Room',
            start: new Date('2021-11-13 1:00 PM EST'),
            end: new Date('2021-11-13 2:00 PM EST'),
            description: 'Come dig & dance to a curated playlist of fun, off-the-wall music from the ‘40s, ‘50s & ‘60s that you’ve probably never heard.',
        },
        {
            title: 'Western North Carolina Furs Meet-Up',
            type: 'social-event',
            hosts: ['Maxx & Company'],
            location: 'Panel Room',
            start: new Date('2021-11-13 2:00 PM EST'),
            end: new Date('2021-11-13 3:00 PM EST'),
            description: 'If you live in the beautiful mountains of Western North Carolina, you\'re not alone! Come meet up with your locals and say hey to your friends! We welcome all ages and have legalized awoo!',
        },
        {
            title: 'Designing a Fursuit',
            type: 'panel',
            hosts: ['Eddie Bear'],
            location: 'Panel Room',
            start: new Date('2021-11-13 3:00 PM EST'),
            end: new Date('2021-11-13 4:00 PM EST'),
            description: 'This panel will inform you how to prepare to commission a fursuit to be made.',
        },
        {
            title: 'Hiking North Carolina Forum',
            type: 'panel',
            hosts: ['Jax','Mikey'],
            location: 'Panel Room',
            start: new Date('2021-11-13 4:00 PM EST'),
            end: new Date('2021-11-13 5:00 PM EST'),
            description: 'Are you interested in day hiking around North Carolina, but don\'t know where to start? Come listen to two avid hikers, Jax & Mikey, give an overview of the basics of hiking our state and answer any questions you might have.',
        },
        {
            title: 'Roleplaying 101',
            type: 'panel',
            hosts: ['Major'],
            location: 'Panel Room',
            start: new Date('2021-11-13 5:00 PM EST'),
            end: new Date('2021-11-13 6:00 PM EST'),
            description: 'Every character has a tale to tell - from classic dungeons filled with arcane evil and hidden pitfalls to the neon-drenched retro future of cyberpunk, or even the fictionalized streets of our own world. With everything in between, there are infinite avenues to explore.  No video cards required - only imagination is needed for this ride. Stop by this panel and punch your ticket!',
        },
        {
            title: 'Fursuiting 101',
            type: 'panel',
            hosts: ['Sunrisefox','Lixzio','ArcticFox'],
            location: 'Panel Room',
            start: new Date('2021-11-13 6:00 PM EST'),
            end: new Date('2021-11-13 7:00 PM EST'),
            description: 'An audience driven and interactive approach to introductory fursuiting. Basic topics include interactions in suit, suit upkeep, why fursuit, how to fursuit, your fursuit and you, and where to fursuit. Advanced topics include talking but not talking, long term suiting, external psychology, internal psychology, and fursuiting in public.',
        },
        {
            title: 'Fursuit Making 101',
            type: 'panel',
            hosts: ['Kaida'],
            location: 'Panel Room',
            start: new Date('2021-11-13 7:00 PM EST'),
            end: new Date('2021-11-13 8:30 PM EST'),
            description: 'Ever wanted to make your own suit but don\'t know where to start? Come on down and ask an experienced maker your burning questions on all things fursuit making!',
        },
        {
            title: 'Match Game',
            type: 'main-event',
            hosts: ['Rose','Bewhiskered Programming Staff'],
            location: 'Panel Room',
            start: new Date('2021-11-13 9:00 PM EST'),
            end: new Date('2021-11-13 10:00 PM EST'),
            description: 'Contestants try to match witticisms with our all-star lineup of panelists in this furry version of the classic game show! Volunteers will give funny answers to fill-in-the-blank questions and get points for giving the same answer as the panel.',
        },
        {
            title: 'Therian Meditation',
            type: 'panel',
            hosts: ['Maxx'],
            location: 'Panel Room',
            start: new Date('2021-11-13 10:30 PM EST'),
            end: new Date('2021-11-13 11:30 PM EST'),
            description: 'Discover your inner animal with some guided meditation and talk about what it\'s like being a therian! All types are welcome from otherkin to fictionkin to come drop into our true forms and discuss the spiritual side of the fandom. ',
        },
        {
            title: 'Spuwuky Stories',
            type: 'after-dark-panel',
            hosts: ['Chowfur'],
            location: 'Panel Room',
            start: new Date('2021-11-13 11:30 PM EST'),
            end: new Date('2021-11-14 12:30 AM EST'),
            description: 'Love murder stories and unexplained phenomenons? Have your own spooky story? Come share your own experience with the supernatural, hometown murders, or close calls with death that made your fur stand on end! Pillows and blankets encouraged!<br/><br/><b>[Restricted to adults (18+) only. Must have photo ID.]</b>',
        },
        {
            title: 'XXX Charades',
            type: 'after-dark-panel',
            hosts: ['Gypsy Rayne', 'Orrin ThunderHoof'],
            location: 'Panel Room',
            start: new Date('2021-11-14 12:30 AM EST'),
            end: new Date('2021-11-14 2:00 AM EST'),
            description: 'Regular charades are fun, but the XXX Charades will blow your…  well, you\’ll see! Experience unspeakable late night fun with the XXX Charades game, the adult-rated edition of the popular game. Be prepared for hilarious moments as you race against the clock to give your audience visual clues. Get the audience to guess the words on the card to win points! Come on your own or bring your friends!<br/><br/><b>[Restricted to adults (18+) only. Must have photo ID.]</b>',
        },
        // Everything else
        {
            title: 'Game Room Setup',
            type: 'setup',

            location: 'Game Room',
            start: new Date('2021-11-13 9:00 AM EST'),
            end: new Date('2021-11-13 10:00 AM EST'),
        },
        {
            title: 'Game Room Open',
            type: 'general-open-hours',

            location: 'Game Room',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-14 12:00 AM EST'),
        },
        {
            title: 'Dealer Den Setup',
            type: 'setup',

            location: 'Dealer Den',
            start: new Date('2021-11-13 8:30 AM EST'),
            end: new Date('2021-11-13 10:00 AM EST'),
        },
        {
            title: 'Dealer Den Open',
            type: 'general-open-hours',

            location: 'Dealer Den',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 6:00 PM EST'),
            description: 'The Dealer Den! Buy all the things!',
        },
        {
            title: 'Dealer Den Takedown',
            type: 'shutdown',

            location: 'Dealer Den',
            start: new Date('2021-11-13 6:00 PM EST'),
            end: new Date('2021-11-13 7:00 PM EST'),
        },
        {
            title: 'Sponsor Lounge Open',
            type: 'general-open-hours',
            location: 'Sponsor Lounge',
            start: new Date('2021-11-13 11:00 AM EST'),
            end: new Date('2021-11-13 4:00 PM EST'),
        },
        {
            title: 'Super Sponsor Social',
            type: 'general-open-hours',
            location: 'Sponsor Lounge',
            start: new Date('2021-11-13 4:30 PM EST'),
            end: new Date('2021-11-13 6:30 PM EST'),
            description: 'Come grab a bite and refreshment while lounging with other Super Sponsors and maybe some special guests.<br/><br/>Restricted to Super Sponsors and limited capacity of 22 at any one time.',
        },
        {
            title: 'Sponsor Lounge Open (again)',
            type: 'general-open-hours',

            location: 'Sponsor Lounge',
            start: new Date('2021-11-13 6:30 PM EST'),
            end: new Date('2021-11-13 9:00 PM EST'),
        },
        {
            title: 'Car Meet',
            type: 'social-event',
            hosts: ['Gray','DocFox'],
            location: 'Parking Lot (exact location TBA)',
            start: new Date('2021-11-13 10:30 AM EST'),
            end: new Date('2021-11-13 12:00 PM EST'),
            description: 'Bring your muscle! Bring your pony cars! Bring your cars with that fancy thing they call power windows! Hang out with fellow speed demons and show off your ride to the launch site.<br/><br/><b>NOTICE</b>: <i>The Marriott RTP and North Carolina Anthropomorphic Society Inc are not liable for any injury or damages incurred by improper vehicle use or maintenance.  ALL participants bringing a vehicle or equipment to this event are required to have valid and current personal liability insurance.</i><br/><br/>Please sign up at <a href="https://forms.gle/8cedPUeYQjYm2MUc8" target="_blank">https://forms.gle/8cedPUeYQjYm2MUc8</a>.',
        },
        {
            title: 'Bunny Meetup',
            type: 'social-event',
            hosts: ['Arnavoni'],
            location: 'Courtyard',
            start: new Date('2021-11-13 4:00 PM EST'),
            end: new Date('2021-11-13 5:00 PM EST'),
            description: 'Social Meet and greet for the long eared, short tailed variety and fans of such. Come enjoy some carrot cake and meet some new friends.',
        },
        {
            title: 'Charity Table Open',
            type: 'general-open-hours',
            location: 'Charity Table',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 6:00 PM EST'),
            description: 'Donate to SAFE Haven for Cats or bring items for the auction.<br/><br/>See <a href=\"https://2021.bewhiskeredcon.org/events/charity\">here for more info</a>',
        },
        {
            title: 'Registration Open',
            type: 'general-open-hours',

            location: 'Registration',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 8:00 PM EST'),
        },
        {
            title: 'Photo Booth Manned',
            type: 'general-open-hours',

            location: 'Photo Booth',
            start: new Date('2021-11-13 2:30 PM EST'),
            end: new Date('2021-11-13 5:30 PM EST'),
        },
        {
            title: 'Headless Lounge Open',
            type: 'general-open-hours',

            location: 'Headless Lounge',
            start: new Date('2021-11-13 9:30 AM EST'),
            end: new Date('2021-11-14 2:00 AM EST'),
        },
        {
            title: 'Convention Store Open',
            type: 'general-open-hours',

            location: 'Convention Store',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 8:00 PM EST'),
        },
        {
            title: 'Guest Services Open',
            type: 'general-open-hours',

            location: 'Guest Services',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 7:00 PM EST'),
        },
        {
            title: 'Artist Alley',
            type: 'general-open-hours',
            location: 'Artist Alley',
            start: new Date('2021-11-13 10:00 AM EST'),
            end: new Date('2021-11-13 8:00 PM EST'),
            description: 'Explore the Artist Alley and find awesome artwork and hand crafts!',
        },
    // Sunday
        // Main Stage
        {
            title: 'Charity Auction',
            type: 'main-event',
            hosts: ['S.A.F.E. Haven for Cats','Bewhiskered Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-14 11:00 AM EST'),
            end: new Date('2021-11-14 1:00 PM EST'),
            description: 'Come bid on awesome donated items to support our partnered charity, SAFE Haven for Cats! SAFE Haven is dedicated to saving cats’ lives, and has helped adopt over 12,000 cats and spayed/neutered 36,000 animals in their clinic since 1994.',
        },
        {
            title: 'Martian Dance Competition - Setup',
            type: 'setup',

            location: 'Main Stage',
            start: new Date('2021-11-14 1:00 PM EST'),
            end: new Date('2021-11-14 2:00 PM EST'),
        },
        {
            title: 'Martian Dance Competition',
            type: 'main-event',
            hosts: ['Humphrey','Bewhiskered Programming Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-14 2:00 PM EST'),
            end: new Date('2021-11-14 4:30 PM EST'),
            streamPlatform: {
                name: 'MixCloud',
                type: 'mixcloud',
                link: 'https://www.mixcloud.com/live/NCAnthroSociety/',
            },
            description: 'Get ready to watch some talented furs moonwalk across the main stage at the first Bewhiskered Dance Competition! There will be a private try-out session held Friday for those that wish to participate. Please claim your dancer spot in advance by filling out the form on the Bewhiskered website!',
        },
        {
            title: 'Fursuit Games',
            type: 'main-event',
            hosts: ['Bewhiskered Programming Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-14 8:00 PM EST'),
            end: new Date('2021-11-14 9:00 PM EST'),
            description: 'Calling all future space explorers for training exercises! Join us for a collection of fursuit games themed around astronaut training! Either come participate in Fursuit or just attend to watch the fun!',
        },
        {
            title: 'Closing Ceremonies',
            type: 'main-event',
            hosts: ['Bewhiskered Staff'],
            location: 'Main Stage',
            start: new Date('2021-11-14 7:00 PM EST'),
            end: new Date('2021-11-14 7:45 PM EST'),
            streamPlatform: {
                name: 'Twitch',
                type: 'twitch',
                link: 'https://www.twitch.tv/ncanthrosociety',
            },
            description: 'It’s over? Already? Let’s have a mission debrief as we officially close this year\'s Bewhiskered. We\’ll go over the highlights of the convention and anything you might have missed. Perhaps there will be something else as well?',
        },
        {
            title: 'So you wanna staff a con?',
            type: 'main-event',
            hosts: ['Bewhiskered Staff'],
            location: 'Panel Room',
            start: new Date('2021-11-14 8:00 PM EST'),
            end: new Date('2021-11-14 9:00 PM EST'),
            description: 'Did you see staff doing something interesting?  Think you could help make things even better? Stick around immediately after closing ceremonies for a chance to talk directly with the Bewhiskered staff about what it takes to put on a convention and if staffing a convention or other event is the fit for you.',
        },
        {
            title: 'Dead Dog Dance',
            type: 'main-event',

            location: 'Main Stage',
            start: new Date('2021-11-14 10:00 PM EST'),
            end: new Date('2021-11-15 1:00 AM EST'),
            streamPlatform: {
                name: 'MixCloud',
                type: 'mixcloud',
                link: 'https://www.mixcloud.com/live/NCAnthroSociety/',
            },
            description: '<p>Time - DJ - Style</p><br/>10:00 PM to 11:00 PM - <a href=\"http://twitter.com/loveless_fur\">Lovles</a> - Electro, Progressive, Big Room House<br/>11:00 PM to 12:00 AM - <a href=\"https://twitter.com/Spike_Papp\">Spike Papp</a> - Trance, Progressive<br/>12:00 AM to 1:00 AM - <a href=\"https://twitter.com/hexagonjackdj\">Hexagon Jack</a> - Dubstep, Trap, Future Bass',
        },
        // Panel Room
        {
            title: 'Effective Writing',
            type: 'panel',
            hosts: ['Uncle Kage'],
            location: 'Panel Room',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 11:00 AM EST'),
            description: 'Uncle Kage is not only a famously inebriated storyteller, but he has also authored a number of short stories in both furry and mainstream publications.  Here he\'ll share some tips on how to make a story come to life and make your reader want to keep on reading beyond the first sentence.',
        },
        {
            title: 'Virtual Reality 101 - VRChat & NeosVR',
            type: 'panel',
            hosts: ['Gray','Aradian'],
            location: 'Panel Room',
            start: new Date('2021-11-14 11:00 AM EST'),
            end: new Date('2021-11-14 12:00 PM EST'),
            description: 'Join in to learn the ins and outs of hopping into virtual reality for the first time! We\'ll cover hardware, software, and useful 3D tools. Learn how to find a furry avatar, get your own custom textures and model, and import them into popular applications such as VRChat and NeosVR. We\'ll also look at cool technologies and how they work to better immersion, such as full body tracking. No prior 3D or VR experience required - all questions welcome!',
        },
        {
            title: 'Pin & Sticker Swap Meet',
            type: 'social-event',
            hosts: ['Kofu'],
            location: 'Panel Room',
            start: new Date('2021-11-14 12:00 PM EST'),
            end: new Date('2021-11-14 1:00 PM EST'),
            description: 'Do you have some cool pins, buttons, stickers, decals, or other collectables you want to show off? Or are you looking for that shiny thing\'s next owner? In this Pin & Sticker Swap Meet, you can showcase your collections, share your stories about them, and trade them with fellow furries!]<br/><br/>[Please Note: No monetary exchange is allowed at this panel.',
        },
        {
            title: 'Fursuit Performance',
            type: 'panel',
            hosts: ['Eddie Bear'],
            location: 'Panel Room',
            start: new Date('2021-11-14 1:00 PM EST'),
            end: new Date('2021-11-14 2:00 PM EST'),
            description: 'Learn how to perform in fursuit and get some helpful hints for posing for photographs.',
        },
        {
            title: 'Triad Furs Meet-Up',
            type: 'social-event',
            hosts: ['Triad Furs Admins'],
            location: 'Panel Room',
            start: new Date('2021-11-14 2:00 PM EST'),
            end: new Date('2021-11-14 3:00 PM EST'),
            description: 'Do you live, work or play in the Greensboro, Winston-Salem, or High-point area?  Then consider dropping by the Triad Furs Meet & Greet at Bewhiskered.  We\'re a group that hosts local fur meets in the NC Triad, and we\'d be glad to meet others from around our region.',
        },
        {
            title: 'Apollo Guidance Computer - Who, How, and Why?',
            type: 'panel',
            hosts: ['Lupus'],
            location: 'Panel Room',
            start: new Date('2021-11-14 3:00 PM EST'),
            end: new Date('2021-11-14 4:00 PM EST'),
            description: '73 Kilobytes. 2.048 Megahertz. 55 watts. 32 kilograms. That\'s all it took to land humans on the Moon, from a computer standpoint. That doesn\'t sound like a lot in modern times, but back then? It was the bleeding edge. This panel takes a dive into the who, how, and why of the Apollo Guidance Computer with a local computer scientist, with time for a Q&A session at the end.',
        },
        {
            title: 'Feline Meet-Up',
            type: 'social-event',
            hosts: ['Benji'],
            location: 'Panel Room',
            start: new Date('2021-11-14 4:00 PM EST'),
            end: new Date('2021-11-14 5:00 PM EST'),
            description: 'Meet and greet with felines and feline appreciators. Fursuits encouraged!',
        },
        {
            title: 'How to Run a Fur Group',
            type: 'panel',
            hosts: ['Maxx'],
            location: 'Panel Room',
            start: new Date('2021-11-14 5:00 PM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: 'Want to start a local furry meetup group in your area but don\'t know where to start? We gotchu! Come learn the history of running WNC Furs and all of the things you need to know to start running a group near you! We will introduce you to all of the groups in NC and how you can help out or start your own meetup group.',
        },
        // Everything else
        {
            title: 'Game Room Setup',
            type: 'setup',

            location: 'Game Room',
            start: new Date('2021-11-14 9:00 AM EST'),
            end: new Date('2021-11-14 10:00 AM EST'),
        },
        {
            title: 'Game Room Open',
            type: 'general-open-hours',

            location: 'Game Room',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
        },
        {
            title: 'Dealer Den Setup',
            type: 'setup',

            location: 'Dealer Den',
            start: new Date('2021-11-14 8:30 AM EST'),
            end: new Date('2021-11-14 10:00 AM EST'),
        },
        {
            title: 'Dealer Den Open',
            type: 'general-open-hours',

            location: 'Dealer Den',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: 'The Dealer Den! Buy all the things!',
        },
        {
            title: 'Dealer Den Takedown',
            type: 'shutdown',

            location: 'Dealer Den',
            start: new Date('2021-11-14 4:00 PM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
        },
        {
            title: 'Sponsor Lounge Open',
            type: 'general-open-hours',

            location: 'Sponsor Lounge',
            start: new Date('2021-11-14 11:00 AM EST'),
            end: new Date('2021-11-14 2:30 PM EST'),
        },
        {
            title: 'Charity Table Open',
            type: 'general-open-hours',
            location: 'Charity Table',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
            description: 'Donate to SAFE Haven for Cats or bring items for the auction.<br/><br/>See <a href=\"https://2021.bewhiskeredcon.org/events/charity\">here for more info</a>',
        },
        {
            title: 'Auction Pickups (Con Signage)',
            type: 'general-open-hours',

            location: 'Charity Table',
            start: new Date('2021-11-14 5:00 PM EST'),
            end: new Date('2021-11-14 6:00 PM EST'),
        },
        {
            title: 'Registration Open',
            type: 'general-open-hours',

            location: 'Registration',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 2:00 PM EST'),
        },
        {
            title: 'Photo Booth Manned',
            type: 'general-open-hours',

            location: 'Photo Booth',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 1:00 PM EST'),
        },
        {
            title: 'Headless Lounge Open',
            type: 'general-open-hours',

            location: 'Headless Lounge',
            start: new Date('2021-11-14 9:30 AM EST'),
            end: new Date('2021-11-15 1:00 AM EST'),
        },
        {
            title: 'Convention Store Open',
            type: 'general-open-hours',

            location: 'Convention Store',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 7:00 PM EST'),
        },
        {
            title: 'Guest Services Open',
            type: 'general-open-hours',

            location: 'Guest Services',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 7:00 PM EST'),
        },
        {
            title: 'Artist Alley',
            type: 'general-open-hours',
            location: 'Artist Alley',
            start: new Date('2021-11-14 10:00 AM EST'),
            end: new Date('2021-11-14 7:00 PM EST'),
            description: 'Explore the Artist Alley and find awesome artwork and hand crafts!',
        },
    ];
