extends /base


block variables
    - let title = 'Dealer Den'

block content

    section(id='dealer-den')

        h1 Dealer Den

        picture(class='d-block')
            img(class='mb-5 mx-auto img-responsive col-md-4 d-block' src='/img/dealer-den/dealer-den-layout.png', alt='Dealer Den Layout')

        p.
            1.) Scoper / #[a(href='https://etsy.com/shop/scopermonstar') Scoper Monstar] #[br]

            "Let me bring out your inner Monstar! Handmade furry 
            accessories."
        p.
            2a.) Fisher / #[a(href='https://chowfur.carrd.co/') Chow Fur art] #[br]

            "Chowfur LLC is a small furry business, specializing in 
            anthro illustrations! We also make stickers, badges,
            fursuit's and more!"
        p.
            2b.) Fae / #[a(href='https://furgetfulfaefursuits.carrd.co/') Forgetful Fae Fursuits] #[br]

            "Furgetful Fae Fursuits is a single-owned and run 
            fursuit making company, started by Fae herself! She 
            loves bringing characters to life through art, and 
            putting happy smiles on her customer's faces. At 
            Bewhiskered, Fae will be selling pre-made fursuit 
            parts and taking commissions!"
        p.
            3.) Nyx / #[a(href='https://www.etsy.com/shop/NRWArtz') NRW Artz] #[br]

            "NRW Artz here, we got Stickers, Pins, Keychains, 
            Buttons, Apparel, Blankets, Mugs and more!!! Come 
            find our NRW Artz booth to see what we have in store 
            for you! Also find us online @NRWArtz on Twitter, 
            Instagram &amp; More!"
        p.
            4.) Eek / #[a(href='https://www.facebook.com/EEKdraws/') EEK] #[br]

            "Spooky wares within this lair,
            Along-side flowers to adorn your hair
            Buttons and prints, fresh from the press
            Commission accepted, come see the rest!"
        p.
            5.) BlasterBlurby / #[a(href='https://www.citymuttfursuits.com/') City Mutt Fursuits] #[br]

            "CityMutt Fursuits has been making furry costumes 
            since 2012. We excel in all styles and species, but 
            are particularly well known for making rare species. "
        p.
            6.) Jasper Blue / #[a(href='https://www.etsy.com/shop/bluecanarygallery') Blue Canary Gallery] #[br]

            "Blue Canary Gallery creates collectible fursuit 
            snap-and-go bandanas, illustrations, enamel pins, 
            key chains, lanyards, and rings, vinyl stickers, and
            wearable art designs."
        p.
            7.) Logan Dillon / #[a(href='https://twitter.com/OtterBearStudio') OtterBear Studios] #[br]

            "We at OtterBear Studios sell Pre-made Fursuits and 
            Fursuit parts! along with handmade plushie props and
            cute funny buttons"
        p.
            8.) Bee / #[a(href='https://klovesbunniesart.weebly.com/') Klovesbunnies Art] #[br]

            "Hi, I go by Bee and I'm a small fursuit maker and 
            artist. I've been making art for almost 10 years, 5 
            professionally, and fursuits for almost 5 years! I offer
            super cute fursuits and fursuit parts, buttons, stickers,
            prints, and the most adorable animal ear headbands. 💖"