extends /base


block variables
    - let title = 'Charity and Charity Auction'


block navbar-page-links

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#chise') Chise
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#eddie-bear') Eddie Bear


block content

    section(id='chise')

        h1 Chise

        picture(class='d-block')
            img(class='mb-5 mx-auto img-responsive col-md-4 d-block' src='/img/guests-of-honor/Chise3.png', alt='Chise 3')

        a(class='icon-link mb-2' href='https://twitter.com/sailorrooscout')
            i(class='fab fa-2x fa-twitter' title="Twitter")
            span @sailorrooscout
        p.
            "I am a Senior Scientist in Vaccine Research and Development and have been in the field for about 10 years now. 
        p.
            My research focuses on uncovering mechanisms of viral pathogenesis and host immunity. My lab’s focus is to better understand basic aspects of viral pathogenesis and apply that knowledge toward development of safer and more effective vaccines. Currently, my research efforts have been dedicated to SARS-CoV-2 as I helped develop and provide research for Moderna’s vaccine that was co-developed with NIAID. 
        p.
            Outside of the pandemic, my research efforts have been dedicated to studying MERS-CoV, SARS-CoV, Zika, Ebola, DENV, HIV, RSV, Influenza, and other emerging pathogens. 
        p.
            When I am not at work or conducting research, I utilize my fursonas/fursuits and my platform to provide science communication on Twitter to help aid people’s understanding of COVID-19 and the COVID vaccines. I should also add that I utilize my platform as an activist for BIPOC as well as LGBTQIA+ individuals in the fandom as well."

    section(id='eddie-bear')

        h1 Eddie Bear

        picture(class='d-block')
            img(class='mb-5 mx-auto img-responsive col-md-4 d-block' src='/img/guests-of-honor/Eddie_Bear.jpg', alt='Eddie Bear 1')

        a(class='icon-link mb-2' href='https://twitter.com/EddieBear58')
            i(class='fab fa-2x fa-twitter' title="Twitter")
            span @EddieBear58
        p.
            Eddie was introduced to being a mascot during a summer job at a regional amusement park near Cincinnati between his junior and senior year of college. After graduation, he continued to perform part time for offsite events, until he moved to SC to pursue his career as an Architect.
        p.
            Fast forward to 2010, and the desire to have a full body costume for Halloween resulted in the creation of a railroad engineer bear costume who was later to become known as Eddie Bear. Shortly after, Eddie Bear became the mascot for the Miniature World of Trains. After the acquisition of his English sheep dog character, Shaemus McDuff became the mascot for the Scottish Highland Games in Greenville, SC.
        p.
            Eddie discovered the furry fandom while surfing the internet, built his first fur suit in 2010 and attended his first convention in 2013. After the passing of his wife from cancer, Eddie became more involved with the fandom, continued to build fur suits for friends and began expanding his personal collection of characters. He hosted his first instructional panels at Fangcon 2014, and has continued to host panels at other conventions.
            Eddie has performed at various charity and community events across the southeast, and is an active fundraiser for the American Cancer Society and the ALS Association.