extends /base


block variables
  - var title = 'Main Events'


block content
  section
    h1 Main Events

    hr

    h2 Friday's Events

    h3 Opening Ceremonies
    p 
      | 3… 2… 1… Blast off! Join us as we launch off the first year of Bewhiskered!
      | Meet with the board and get a peek into the journey that lies ahead of you
      | this weekend.

    h3 Fursuit Games
    p
      | Calling all future space explorers for training exercises! Join us for a
      | collection of fursuit games themed around astronaut training! Either come
      | in fursuit and participate or just attend to watch the fun!

    h3 Dusk’s Furry Game Show Catastrophe
    p
      | Represent your section of the audience in a wacky competition tribute to TV
      | game shows from when we were kids! Contestants will be vying for points but
      | also for laughs. You can enter a drawing to participate in the games or watch
      | in the audience. Either way, it’s a show you won’t want to miss!

    h3 Lip-Sync Battle
    p
      | To all you intergalactic entertainers out there: do you enjoy lip-syncing to
      | awesome music, while dancing and performing on-stage? What about doing so
      | against another fellow fuzzbutt? Come show off your stellar and
      | out-of-this-world moves and be the last one standing! And remember: Don’t mess
      | it up!

    h3 Dances
    p
      | You don’t have to travel to a galaxy far, far, away to find amazing music to
      | shake your tail feathers to! Come enjoy Bewhiskered’s Saturday and Sunday
      | night dances. The DJ’s will be spinning some awesome tracks for your auditory
      | pleasure

    hr

    h2 Saturday's Events

    h3 Fursuit Space Walk
    p
      | Calling all fursuiters to the bridge! Prepare to parade through the ship
      | as your fellow cadets cheer you on. Feel free to join, as we get to see
      | what wonderful creatures this planet has to offer!

    h3 Improv Show
    p
      | Ready to laugh so hard you’ll be blasted into space? Come join Mikey and
      | DocFox as they host a variety of fun games inspired by Whose Line where
      | you, the audience, will be encouraged to participate! You’ll laugh, you
      | may cry a bit (all from laughing too hard, promise!), but you’ll always
      | have a good time playing games such as Scenes from a Hat, New Line, and
      | many more!

    h3 Space Dance Battle
    p
      | In a galaxy not so far away, pairs of furries compete to control the
      | galaxy. These dance battles will be brought to you live on the main
      | stage on Nov 13, Saturday from 7pm-9pm. Dancer’s please be there are
      | 6pm for check in and sign up early to claim a spot by filling out the
      | form: https://forms.gle/ske1q3wjSsppGxA8A 

    h3 Dances
    p
      | You don’t have to travel to a galaxy far, far, away to find amazing
      | music to shake your tail feathers to! Come enjoy Bewhiskered’s Saturday
      | and Sunday night dances. The DJ’s will be spinning some awesome tracks
      | for your auditory pleasure

    hr

    h2 Sunday's Events

    h3 Charity Auction
    p
      | Your mission, if you choose to accept, is to help the local charity with
      | your generosity! The charity auction will feature some amazing furry items
      | for you to bid on. You never know what you may win!

    h3 Fursuit Games
    p
      | Calling all future space explorers for training exercises! Join us for a
      | collection of fursuit games themed around astronaut training! Either come
      | in fursuit and participate or just attend to watch the fun!

    h3 Martian Dance Competition
    p
      | Get ready to watch some talented furs moonwalk across the main stage at
      | the first Bewhiskered Dance Competition on Nov 14, Sunday from 2pm-4:30pm.
      | There will be a private try-out session held Nov 12, Friday, 5pm-7pm for
      | those that wish to participate. Please fill out the form beforehand:
      | https://forms.gle/btC6TvuzDy5u7L4U8 

    h3 Match Game
    p
      | Contestants try to match witticisms with our all-star lineup of panelists
      | in this furry version of the classic game show! Volunteers will give funny
      | answers to fill-in-the-blank questions and get points for giving the same
      | answer as the panel.

    h3 Closing Ceremonies
    p
      | It’s over? Already? Let’s have a mission debrief as we officially close
      | this year's Bewhiskered. We’ll go over the highlights of the convention
      | and anything you might have missed. Perhaps there will be something else
      | as well?