extends /base


block variables

    - var title = 'BWS 2021 Events Schedule'

block content

    section(id='hotel-map')

        h1 Hotel Map

        picture
            img(class='img-responsive col-12' src='/img/marriott-at-rtp-map.jpg')